#!/usr/bin/env bash
set -euo pipefail

# brew package
packages=(
    ast-grep
    atuin
    bat
    bat-extras
    chafa
    diffr # better git-diff alternative is difftastic
    editorconfig
    eza
    fd
    fzf
    gh
    git-cliff
    git-delta # better git-diff
    gitleaks
    glow
    gnu-sed
    helix
    hyperfine
    jq
    just
    kopiaui
    lazydocker
    lazygit
    luarocks
    mas
    mise
    ranger
    rclone
    ripgrep
    sevenzip
    starship
    tealdeer
    television
    tmux
    tree
    wget
    yq
    zoxide
)

# some measureing tools
packages+=(
    btop
    htop
)

# pyenv dependency
packages+=(
    openssl
    readline
    sqlite3
    xz
    zlib
    tcl-tk
)

# some cask packages
casks=(
    font-maple-mono-nf
    ghostty
    iina
    kitty
    nextcloud
    obsidian
    syncthing
    visual-studio-code
    wezterm
)

############################
# Installation starts here #
############################

# install all the packages
brew install "${packages[@]}"
brew install --cask "${casks[@]}"

# vim: set expandtab ts=4 sw=4 ft=bash:
