#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:

# remove bob
[ -d "$HOME/.local/share/bob" ] && rm -rf "$HOME/.local/share/bob"
[ -f "$HOME/.local/bin/bob" ] && rm "$HOME/.local/bin/bob"

exit 0
