#!/bin/sh

# since chezmoi get installed with brew, brew must be installed already
brew install age

if [ ! -f "$HOME/.key.txt" ]; then
    age --decrypt --output "$HOME/.key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$HOME/.key.txt"
fi
