#!/usr/bin/env bash
# vim: set expandtab ts=4 sw=4 ft=bash:
set -euo pipefail

# brew package
packages=(
    ast-grep
    atuin
    bat
    bat-extras
    diffr # better git-diff alternative is difftastic
    direnv
    editorconfig
    fd
    fzf
    gh
    git-cliff
    git-delta # better git-diff
    glow
    gnu-sed
    helix
    jq
    lazydocker
    lazygit
    luarocks
    ranger
    ripgrep
    starship
    tealdeer
    tmux
    tree
    wget
    yazi
    zellij
    zoxide
)

# some neovim specific, since mason.nvim can't install arm version
packages+=(
    selene
    shellcheck
)

# some measureing tools
packages+=(
    btop
    htop
)

# pyenv dependency
packages+=(
    openssl
    readline
    sqlite3
    xz
    zlib
    tcl-tk
)

# some cask packages
casks=(
    alacritty
    bitwarden
    gitbutler
    nextcloud
    obsidian
    syncthing
    visual-studio-code
    wezterm
)

############################
# Installation starts here #
############################

# install all the packages
brew install ${packages[@]}
brew install --cask ${casks[@]}
