[Desktop Entry]
Name=Bitwarden
GenericName=Password manager
Comment=Move fast and securely with the password manager trusted by millions
X-AppImage-Version="1.0.0"
StartupWMClass=Bitwarden
Terminal=false
Type=Application
Path={{ .chezmoi.homeDir }}/Applications/
Exec={{ .chezmoi.homeDir }}/Applications/bitwarden.AppImage
Icon=Bitwarden
MimeType=x-scheme-handler/bitwarden
Categories=Administration;
