[Desktop Entry]
Name=FreeCAD
GenericName=FreeCAD Parametric tool
Comment=Your own 3D parametric modeler
X-AppImage-Version={{ (gitHubLatestRelease "FreeCAD/FreeCAD").TagName | quote }}
StartupWMClass=FreeCAD
Terminal=false
Type=Application
Path={{ .chezmoi.homeDir }}/Applications/
Exec={{ .chezmoi.homeDir }}/Applications/freecad.AppImage
Icon=FreeCAD
Categories=Education;
