[Desktop Entry]
Name=Logseq
GenericName=Logseq your second brain
Comment=Connect your notes, increase understanding
Version={{ .logseqVersion }}
Type=Application
Exec=$HOME/Applications/logseq.AppImage
Icon=logseq
Categories=Office;
