[Desktop Entry]
Name=Logseq
GenericName=Logseq your second brain
Comment=A privacy-first, open-source platform for knowledge management and collaboration.
X-AppImage-Version="{{ .logseqVersion }}"
StartupWMClass=Logseq
Terminal=false
Type=Application
Path={{ .chezmoi.homeDir }}/Applications/
Exec={{ .chezmoi.homeDir }}/Applications/logseq.AppImage
Icon=Logseq
MimeType=x-scheme-handler/logseq
Categories=Office;
