[Desktop Entry]
Name=Neovide
GenericName=Neovim made in Rust
Comment=Fast, feature-rich, Graphical Neovim
X-AppImage-Version="{{ .neovideVersion }}"
Terminal=false
Type=Application
Exec=neovide
Icon=neovide
Categories=Development;TextEditor;
