[Desktop Entry]
Name=OpenSCAD
GenericName=OpenSCAD
Comment=The Programmers Solid 3D CAD Modeller
X-AppImage-Version={{ .openscadVersion }}
StartupWMClass=OpenSCAD
Terminal=false
Type=Application
Path={{ .chezmoi.homeDir }}/Applications/
Exec={{ .chezmoi.homeDir }}/Applications/openscad.AppImage
Icon=OpenSCAD
Categories=Education;
