[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "emacs/emacs.d"]
	path = emacs/emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
