[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "emacs/emacs.d"]
	path = emacs/emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
[submodule "morc_menu"]
	path = morc_menu
	url = https://github.com/dhruvinsh/morc_menu.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
