Xft.dpi: 150
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdlight

! --URXVT Config --
URxvt.font: xft:Iosevka:size=10:antialias=true
URxvt.scrollBar: false
! special
*.foreground:   #ebdbb2
*.background:   #282828
*.cursorColor:  #ebdbb2

! black
*.color0:       #3c3836
*.color8:       #928374

! red
*.color1:       #cc241d
*.color9:       #fb4934

! green
*.color2:       #98971a
*.color10:      #b8bb26

! yellow
*.color3:       #d79921
*.color11:      #fabd2f

! blue
*.color4:       #458588
*.color12:      #83a598

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! white
*.color7:       #bdae93
*.color15:      #ebdbb2
