{{ if .chezmoi.cli eq false }}
#!/usr/bin/env bash
set -euo pipefail

# URLs
EMACS=http://gnu.freemirror.org/gnu/emacs/emacs-27.2.tar.gz

# Emacs setup
wget $EMACS  -O /tmp/emacs.tar.gz
tar -xzvf /tmp/emacs.tar.gz --directory /tmp
cd /tmp/emacs-27.2
export CC="gcc-10"
./configure --with-x-toolkit=gtk3 --with-cairo --with-mailutils --prefix=$HOME/.local
make -j $(nproc) install

echo "setup doom-emacs"
PATH="$PATH:$HOME/.local/bin"
$HOME/.emacs.d/bin/doom install
{{ end }}
