#!/usr/bin/env bash
set -euo pipefail

{{- if eq .emacs true }}
# URLs
EMACS=https://github.com/emacs-mirror/emacs.git
BRANCH=emacs-28
TEMP_DIR=/tmp/emacs
  

# Emacs setup
export CC=/usr/bin/gcc-10 CXX=/usr/bin/gcc-10
# if directory exists make pull else make clone
if [ ! -d "$TEMP_DIR" ]; then
  git clone --depth=1 --branch=$BRANCH $EMACS $TEMP_DIR
fi
cd $TEMP_DIR
git pull --ff
./autogen.sh
./configure --with-json --with-native-compilation --with-mailutils --prefix=$HOME/.local
make -j $(nproc) install
{{- end }}
