#!/usr/bin/env bash
set -euo pipefail

echo "setup doom-emacs"
PATH="$PATH:$HOME/.local/bin"
$HOME/.emacs.d/bin/doom sync

echo "setup node"
NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
nvm install --lts

echo "setup fonts"
fc-cache -f -v

echo "setup autojump"
AUTOJUMP=https://github.com/wting/autojump.git
AUTOJUMP_DIR=/tmp/autojump
if [ ! -d $AUTOJUMP_DIR ]; then
    git clone $AUTOJUMP $AUTOJUMP_DIR
fi
cd $AUTOJUMP_DIR
./install.py

echo "setup fd"
# URLs
FD=https://github.com/sharkdp/fd/releases/download/v8.2.1/fd_8.2.1_amd64.deb
# remove fd-find package installed by zsh else it will have conflict
sudo apt purge fd-find
wget $FD -O /tmp/fd.deb
sudo apt install /tmp/fd.deb

echo "set ZSH to default"
chsh -s $(which zsh)