#!/usr/bin/env bash
set -euo pipefail

# URLs
AUTOJUMP=https://github.com/wting/autojump.git
EMACS=http://gnu.freemirror.org/gnu/emacs/emacs-27.2.tar.gz
FD=https://github.com/sharkdp/fd/releases/download/v8.2.1/fd_8.2.1_amd64.deb
RIPGREP=https://github.com/BurntSushi/ripgrep/releases/latest/download/ripgrep_13.0.0_amd64.deb

# autojump setup
git clone $AUTOJUMP /tmp/autojump
cd /tmp/autojump
./install.py

# Emacs setup
wget $EMACS  -O /tmp/emacs.tar.gz
tar -xzvf /tmp/emacs.tar.gz --directory /tmp
cd /tmp/emacs-27.2
./configure --with-x-toolkit=lucid --with-mailutils --prefix=$HOME/.local
make -j $(nproc) install


# FD setup
# remove fd-find package installed by zsh else it will have conflict
sudo apt purge fd-find
wget $FD -O /tmp/fd.deb
sudo apt install /tmp/fd.deb

# ripgrep setup
wget $RIPGREP -O /tmp/ripgrep.deb
sudo apt install /tmp/ripgrep.deb