#!/usr/bin/env bash
set -euo pipefail

{{- if eq .emacs true }}
# URLs
EMACS=https://github.com/emacs-mirror/emacs.git
BRANCH=emacs-27
TEMP_DIR=/tmp/emacs
[[ -d $TEMP_DIR ]] && rm -rf $TEMP_DIR || echo "Directory not present"

# Emacs setup
git clone --depth=1 --branch=$BRANCH $EMACS $TEMP_DIR
cd $TEMP_DIR
./autogen.sh
./configure --prefix=$HOME/.local
make -j $(nproc) install

{{ if eq .doom true }}
# Once emacs is installed lets setup doom emacs if required
echo "setup doom-emacs"
PATH="$PATH:$HOME/.local/bin"
$HOME/.emacs.d/bin/doom install
{{- end }}
{{- end }}
