#!/usr/bin/env bash
set -euo pipefail

# URLs
EMACS=http://gnu.freemirror.org/gnu/emacs/emacs-27.2.tar.gz

# Emacs setup
wget $EMACS  -O /tmp/emacs.tar.gz
tar -xzvf /tmp/emacs.tar.gz --directory /tmp
cd /tmp/emacs-27.2
./configure --with-x-toolkit=lucid --with-mailutils --prefix=$HOME/.local
make -j $(nproc) install