#!/usr/bin/env bash
set -euo pipefail

# remove fd-find package installed by zsh
sudo apt purge fd-find
# Install fd
FD_URL=https://github.com/sharkdp/fd/releases/download/v8.2.1/fd_8.2.1_amd64.deb
wget $FD_URL -O /tmp/fd.deb
sudo apt install /tmp/fd.deb
