-- vim: set ft=lua:
local wezterm = require("wezterm")
local platform = require("utils.platform")

local regular_font = "{{ .font.regular }}"
local italic_font = "{{ .font.italic }}"
local frame_font = "{{ .font.regular }}"

local M = {}

---@param cfg table
M.setup = function(cfg)
  -- set frame fonts, affect the command palette as well
  cfg.window_frame = { font = wezterm.font({ family = frame_font, weight = "Light" }) }

  cfg.font = wezterm.font({ family = regular_font, weight = "Regular" })

  cfg.font_rules = {
    {
      italic = true,
      intensity = "Normal",
      font = wezterm.font({ family = italic_font, style = "Italic" }),
    },
  }

  -- font size
  if platform.is_mac then
    cfg.font_size = 15.0
    cfg.command_palette_font_size = 14.0
  elseif platform.is_linux then
    -- for linux mint somehow behaving weirdly, but not going to chase right now.
    cfg.font_size = 14.0
    cfg.command_palette_font_size = 13.0
  else
    cfg.font_size = 12.5
    cfg.command_palette_font_size = 12.5
  end
end

return M
