#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

{{ template "scripts/download_helpers.sh" . }}

# install on all Ubuntu based PC
# {{- if (and (.isDesktop) (.ubuntu)) }}

WEZTERM={{ gitHubLatestReleaseAssetURL "wez/wezterm" "wezterm-*.Ubuntu22.04.deb" | quote  }}
install_deb "$WEZTERM" "wezterm"


########################################################################################################################
packages+=(
    fonts-symbola
    imagemagick
    smartmontools
    tshark
    wireshark
    xsensors
)

# install all the packages
sudo apt install -y "${packages[@]}"

########################################################################################################################
echo "setup kitty terminal"
if [ ! "$(command -v kitty)" ]; then
    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n
    ln -sf ~/.local/kitty.app/bin/kitty ~/.local/kitty.app/bin/kitten ~/.local/bin/
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/
    cp ~/.local/kitty.app/share/applications/kitty-open.desktop ~/.local/share/applications/
    sed -i "s|Icon=kitty|Icon=$(readlink -f ~)/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty*.desktop
    sed -i "s|Exec=kitty|Exec=$(readlink -f ~)/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop
    echo 'kitty.desktop' > ~/.config/xdg-terminals.list
fi

# chrome re-installation is harmless in fact we end up updating it!
CHROME=https://dl.google.com/{{ .chezmoi.os }}/direct/google-chrome-stable_current_amd64.deb
install_deb "$CHROME" "chrome"

# vscode setup
VSCODE="https://code.visualstudio.com/sha/download?build=stable&os={{ .chezmoi.os }}-deb-x64"
install_deb "$VSCODE" "code"

# discord setup
DISCORD="https://discord.com/api/download?platform={{ .chezmoi.os }}&format=deb"
install_deb "$DISCORD" "discord"

# f3d setup
F3D={{ gitHubReleaseAssetURL "f3d-app/f3d" "v2.5.0" "F3D-*-Linux-x86_64.deb" | quote }}
install_deb "$F3D" "f3d"

# localsend
LOCALSEND={{ gitHubLatestReleaseAssetURL "localsend/localsend" "LocalSend-*-linux-x86-64.deb" | quote }}
install_deb "$LOCALSEND" "localsend"

# snifnet setup
SNIFFNET={{ gitHubLatestReleaseAssetURL "GyulyVGC/sniffnet" "Sniffnet_LinuxDEB_amd64.deb" | quote }}
install_deb "$SNIFFNET" "sniffnet"

# {{- if .personalmachine }}
########################################################################################################################
BITWARDEN="https://vault.bitwarden.com/download/?app=desktop&platform={{ .chezmoi.os }}"
FREECAD={{ gitHubLatestReleaseAssetURL "FreeCAD/FreeCAD" "FreeCAD_*-conda-linux-x86-64-py310.AppImage" | quote }}
NEXTCLOUD={{ gitHubLatestReleaseAssetURL "nextcloud/desktop" "Nextcloud-*-x86_64.AppImage" | quote }}
OPENSCAD="https://files.openscad.org/OpenSCAD-{{ .openscadVersion }}-x86_64.AppImage"

install_appimage "$BITWARDEN" "bitwarden"
install_appimage "$FREECAD" "freecad"
install_appimage "$NEXTCLOUD" "nextcloud"
install_appimage "$OPENSCAD" "openscad"

# {{- end }}
# {{- end }}
