{{- if eq .chezmoi.os "windows" }}
[shell]
program = "wsl"
args = ["--shell-type", "login", "--cd", "~"]
{{- end }}

[font]
{{- if eq .chezmoi.os "windows" }}
size = 12
{{- else }}
size = 15
{{- end }}

[font.normal]
family = {{ .font.regular | quote }}
style = "Regular"

[scrolling]
history = 10000

[bell]
duration = 1

[cursor]
blink_interval = 500

[cursor.style]
shape = "Block"
blinking = "On" 

[colors.primary]
background = "#16161D"

[colors.normal]
black = "#16161D"

{{/* vim: set filetype=toml: */}}
