# vim: set ft=toml:

# {{ if eq .chezmoi.os "windows" }}
[shell]
program = "wsl"
args = ["--shell-type", "login", "--cd", "~"]
# {{ end }}

[font]
size = 15

[font.normal]
family = {{ .font.regular | quote }}
style = "Regular"

[scrolling]
history = 10000

[bell]
duration = 1

[cursor]
blink_interval = 500

[cursor.style]
shape = "Block"
blinking = "On" 

