//| Catppuccin Name | Tokyonight Name        | Tokyonight Compatible Color to Catppuccin | Notes                                               |
//| --------------- | ---------------------- | ----------------------------------------- | --------------------------------------------------- |
//| base            | bg                     | #222436                                   | Direct match.                                       |
//| blue            | blue + blue5           | #86c3ff                                   | 60% blue (#82aaff) + 40% blue5 (#89ddff).           |
//| crust           | bg + dark3             | #1d2133                                   | 70% bg (#222436) + 30% dark3 (#545c7e).             |
//| flamingo        | red + magenta2         | #e5406d                                   | 70% red (#ff757f) + 30% magenta2 (#ff007c).         |
//| green           | green                  | #c3e88d                                   | Direct match.                                       |
//| lavender        | blue1 + cyan           | #74c3ff                                   | 70% blue1 (#65bcff) + 30% cyan (#86e1fc).           |
//| mantle          | bg_dark + dark3        | #202338                                   | 80% bg_dark (#1e2030) + 20% dark3 (#545c7e).        |
//| maroon          | red1 + magenta2        | #d53a64                                   | 60% red1 (#c53b53) + 40% magenta2 (#ff007c).        |
//| mauve           | magenta                | #c099ff                                   | Direct match.                                       |
//| overlay0        | bg_highlight           | #2f334d                                   | Direct match.                                       |
//| overlay1        | dark3                  | #545c7e                                   | Direct match.                                       |
//| overlay2        | dark5                  | #737aa2                                   | Direct match.                                       |
//| peach           | orange                 | #ff966c                                   | Direct match.                                       |
//| pink            | magenta + purple       | #e79cf2                                   | 60% magenta (#c099ff) + 40% purple (#fca7ea).       |
//| red             | red                    | #ff757f                                   | Direct match.                                       |
//| rosewater       | purple                 | #fca7ea                                   | Direct match.                                       |
//| sapphire        | blue2                  | #0db9d7                                   | Direct match.                                       |
//| sky             | blue + cyan            | #84bffd                                   | 50% blue (#82aaff) + 50% cyan (#86e1fc).            |
//| subtext0        | fg_gutter + comment    | #55638e                                   | 60% fg_gutter (#3b4261) + 40% comment (#636da6).    |
//| subtext1        | fg_dark                | #828bb8                                   | Direct match.                                       |
//| surface0        | bg_dark                | #1e2030                                   | Direct match.                                       |
//| surface1        | terminal_black         | #444a73                                   | Direct match.                                       |
//| surface2        | terminal_black + dark5 | #5b637e                                   | 50% terminal_black (#444a73) + 50% dark5 (#737aa2). |
//| teal            | green1                 | #4fd6be                                   | Direct match.                                       |
//| text            | fg                     | #c8d3f5                                   | Direct match.                                       |
//| yellow          | yellow + orange        | #ffc177                                   | 70% yellow (#ffc777) + 30% orange (#ff966c).        |

{
  "base"     : "#222436",
  "blue"     : "#86c3ff",
  "crust"    : "#1d2133",
  "flamingo" : "#e5406d",
  "green"    : "#c3e88d",
  "lavender" : "#74c3ff",
  "mantle"   : "#202338",
  "maroon"   : "#d53a64",
  "mauve"    : "#c099ff",
  "overlay0" : "#2f334d",
  "overlay1" : "#545c7e",
  "overlay2" : "#737aa2",
  "peach"    : "#ff966c",
  "pink"     : "#e79cf2",
  "red"      : "#ff757f",
  "rosewater": "#fca7ea",
  "sapphire" : "#0db9d7",
  "sky"      : "#84bffd",
  "subtext0" : "#55638e",
  "subtext1" : "#828bb8",
  "surface0" : "#1e2030",
  "surface1" : "#444a73",
  "surface2" : "#5b637e",
  "teal"     : "#4fd6be",
  "text"     : "#c8d3f5",
  "yellow"   : "#ffc177"
}
