[manager]
cwd = { fg = "{{ .colorScheme.teal | quote }}" }

# Hovered
hovered         = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.blue | quote }}" }
preview_hovered = { underline = true }

# Find
find_keyword  = { fg = "{{ .colorScheme.yellow | quote }}", italic = true }
find_position = { fg = "{{ .colorScheme.pink | quote }}", bg = "reset", italic = true }

# Marker
marker_copied   = { fg = "{{ .colorScheme.green | quote }}", bg = "{{ .colorScheme.green | quote }}" }
marker_cut      = { fg = "{{ .colorScheme.red | quote }}", bg = "{{ .colorScheme.red | quote }}" }
marker_selected = { fg = "{{ .colorScheme.blue | quote }}", bg = "{{ .colorScheme.blue | quote }}" }

# Tab
tab_active   = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.text | quote }}" }
tab_inactive = { fg = "{{ .colorScheme.text | quote }}", bg = "{{ .colorScheme.surface1 | quote }}" }
tab_width    = 1

# Count
count_copied   = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.green | quote }}" }
count_cut      = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.red | quote }}" }
count_selected = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.blue | quote }}" }

# Border
border_symbol = "│"
border_style  = { fg = "{{ .colorScheme.overlay1 | quote }}" }

# Highlighting
syntect_theme = "~/.config/yazi/Catppuccin-mocha.tmTheme"

[status]
separator_open  = ""
separator_close = ""
separator_style = { fg = "{{ .colorScheme.surface1 | quote }}", bg = "{{ .colorScheme.surface1 | quote }}" }

# Mode
mode_normal = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.blue | quote }}", bold = true }
mode_select = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.green | quote }}", bold = true }
mode_unset  = { fg = "{{ .colorScheme.base | quote }}", bg = "{{ .colorScheme.flamingo | quote }}", bold = true }

# Progress
progress_label  = { fg = "{{ .colorScheme.white | quote }}", bold = true }
progress_normal = { fg = "{{ .colorScheme.blue | quote }}", bg = "{{ .colorScheme.surface1 | quote }}" }
progress_error  = { fg = "{{ .colorScheme.red | quote }}", bg = "{{ .colorScheme.surface1 | quote }}" }

# Permissions
permissions_t = { fg = "{{ .colorScheme.blue | quote }}" }
permissions_r = { fg = "{{ .colorScheme.yellow | quote }}" }
permissions_w = { fg = "{{ .colorScheme.red | quote }}" }
permissions_x = { fg = "{{ .colorScheme.green | quote }}" }
permissions_s = { fg = "{{ .colorScheme.overlay1 | quote }}" }

[input]
border   = { fg = "{{ .colorScheme.blue | quote }}" }
title    = {}
value    = {}
selected = { reversed = true }

[select]
border   = { fg = "{{ .colorScheme.blue | quote }}" }
active   = { fg = "{{ .colorScheme.pink | quote }}" }
inactive = {}

[tasks]
border  = { fg = "{{ .colorScheme.blue | quote }}" }
title   = {}
hovered = { underline = true }

[which]
mask            = { bg = "{{ .colorScheme.surface0 | quote }}" }
cand            = { fg = "{{ .colorScheme.teal | quote }}" }
rest            = { fg = "{{ .colorScheme.overlay2 | quote }}" }
desc            = { fg = "{{ .colorScheme.pink | quote }}" }
separator       = "  "
separator_style = { fg = "{{ .colorScheme.surface2 | quote }}" }

[help]
on      = { fg = "{{ .colorScheme.pink | quote }}" }
exec    = { fg = "{{ .colorScheme.teal | quote }}" }
desc    = { fg = "{{ .colorScheme.overlay2 | quote }}" }
hovered = { bg = "{{ .colorScheme.surface2 | quote }}", bold = true }
footer  = { fg = "{{ .colorScheme.surface1 | quote }}", bg = "{{ .colorScheme.text | quote }}" }

[filetype]

rules = [
	# Media
	{ mime = "image/*", fg = "{{ .colorScheme.teal | quote }}" },
	{ mime = "{audio,video}/*", fg = "{{ .colorScheme.yellow | quote }}" },

	# Archives
  { mime = "application/{,g}zip", fg = "{{ .colorScheme.pink | quote }}" },
	{ mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "{{ .colorScheme.pink | quote }}" },

	# Fallback
	{ name = "*", fg = "{{ .colorScheme.text | quote }}" },
	{ name = "*/", fg = "{{ .colorScheme.blue | quote }}" }
]

[icon]

files = [
  { name = "gulpfile.js", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = ".babelrc", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "copying.lesser", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = ".npmrc", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "docker-compose.yml", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "svelte.config.js", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "copying", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "prettier.config.ts", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "gruntfile.babel.js", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = ".SRCINFO", text = "󰣇", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".xinitrc", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "docker-compose.yaml", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "nuxt.config.ts", text = "󱄆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "build", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".editorconfig", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "nuxt.config.mjs", text = "󱄆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".gitlab-ci.yml", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "PKGBUILD", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".bash_profile", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".bashrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "compose.yml", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "eslint.config.cjs", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "go.mod", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = ".mailmap", text = "󰊢", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "gtkrc", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "go.work", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "justfile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "kritadisplayrc", text = "", fg_dark = "{{ .colorScheme.mauve | quote }}", fg_light = "{{ .colorScheme.mauve | quote }}" },
  { name = "commitlint.config.js", text = "󰜘", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = ".env", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "PrusaSlicerGcodeViewer.ini", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "r", text = "󰟔", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "license", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = ".gitignore", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "tailwind.config.js", text = "󱏿", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = ".prettierrc.yml", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".zprofile", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".zshenv", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "xmonad.hs", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = ".eslintignore", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "tsconfig.json", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = ".prettierrc.json5", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".ds_store", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "gulpfile.coffee", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "R", text = "󰟔", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = ".zshrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".prettierrc.toml", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".gvimrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".xsession", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = ".justfile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = ".gitconfig", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "gradle-wrapper.properties", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "ionic.config.json", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "cantorrc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".gleam", text = "", fg_dark = "{{ .colorScheme.pink | quote }}", fg_light = "{{ .colorScheme.pink | quote }}" },
  { name = "package-lock.json", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "package.json", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "hyprland.conf", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "gulpfile.babel.js", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = ".nvmrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".prettierignore", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "ext_typoscript_setup.txt", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "QtProject.conf", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "avif", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "mix.lock", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "build.gradle", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "gemfile$", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = ".vimrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "i18n.config.ts", text = "󰗊", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "gulpfile.ts", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "build.zig.zon", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "checkhealth", text = "󰓙", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "xmobarrc", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "_vimrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".luaurc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "kdenlive-layoutsrc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "gradlew", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "xsettingsd.conf", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "vlcrc", text = "󰕼", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "xorg.conf", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "xmobarrc.hs", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "workspace", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = ".gitattributes", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "favicon.ico", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "go.sum", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "pom.xml", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "webpack", text = "󰜫", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "vagrantfile$", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "unlicense", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "tmux.conf.local", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "settings.gradle", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = ".dockerignore", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "sym-lib-table", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "_gvimrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "kdenliverc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "kdeglobals", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".prettierrc.yaml", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "rmd", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "tailwind.config.mjs", text = "󱏿", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "sxhkdrc", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "robots.txt", text = "󰚩", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "tailwind.config.ts", text = "󱏿", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "prettier.config.mjs", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "mpv.conf", text = "", fg_dark = "{{ .colorScheme.base | quote }}", fg_light = "{{ .colorScheme.base | quote }}" },
  { name = "py.typed", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "PrusaSlicer.ini", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "procfile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "rakefile", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "kritarc", text = "", fg_dark = "{{ .colorScheme.mauve | quote }}", fg_light = "{{ .colorScheme.mauve | quote }}" },
  { name = ".Xresources", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "prettier.config.js", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "commitlint.config.ts", text = "󰜘", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "weston.ini", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "eslint.config.js", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "cmakelists.txt", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = ".git-blame-ignore-revs", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "config", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "nuxt.config.cjs", text = "󱄆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "node_modules", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "makefile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "lxqt.conf", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "i18n.config.js", text = "󰗊", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "FreeCAD.conf", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "prettier.config.cjs", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "tmux.conf", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "kalgebrarc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "i3status.conf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = ".settings.json", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "containerfile", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "i3blocks.conf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "lxde-rc.xml", text = "", fg_dark = "{{ .colorScheme.overlay2 | quote }}", fg_light = "{{ .colorScheme.overlay2 | quote }}" },
  { name = "gradle.properties", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "hypridle.conf", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "gruntfile.ts", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "gruntfile.js", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "dockerfile", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "groovy", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "hyprlock.conf", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = ".prettierrc", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "gnumakefile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "commit_editmsg", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "fp-lib-table", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "fp-info-cache", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "eslint.config.ts", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "nuxt.config.js", text = "󱄆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "platformio.ini", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = ".nuxtrc", text = "󱄆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "gruntfile.coffee", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "eslint.config.mjs", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "compose.yaml", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "bspwmrc", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "brewfile", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = ".eslintrc", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = ".gtkrc-2.0", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = ".Xauthority", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = ".prettierrc.json", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = ".npmignore", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = ".gitmodules", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
]
exts = [
  { name = "rake", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "skp", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "eln", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "razor", text = "󱦘", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "vue", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sln", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "el", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "blp", text = "󰺾", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "jl", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "mdx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "jsx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "ml", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "less", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "pot", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "pl", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "mli", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "gif", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "aif", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "cxxm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "fcbak", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "aac", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "query", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "android", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "m3u8", text = "󰲹", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "leex", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "liquid", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "cue", text = "󰲹", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "fcmacro", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "log", text = "󰌱", fg_dark = "{{ .colorScheme.text | quote }}", fg_light = "{{ .colorScheme.text | quote }}" },
  { name = "pm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "brep", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "blend", text = "󰂫", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "md5", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "sql", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "xcplayground", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "erb", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "t", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "cache", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "r", text = "󰟔", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "x", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "import", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "m", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "lrc", text = "󰨖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "o", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "d", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "c", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "h", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "rss", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "hbs", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "godot", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "eot", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "awk", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "fsx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "a", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "pyi", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "asc", text = "󰦝", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "ass", text = "󰨖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "css", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "psb", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "csproj", text = "󰪮", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "csv", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "gcode", text = "󰐫", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "ics", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "mk", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "bz", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "fctb", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "gz", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "wasm", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "glb", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "elc", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "flf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "elf", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "dropbox", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "tres", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "apk", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "ape", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "slvs", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "apl", text = "⍝", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "cs", text = "󰌛", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "azcli", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "pp", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "flc", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "gemspec", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "pls", text = "󰲹", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "cfg", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "fcscript", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "gnumakefile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "zst", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "pxi", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "woff2", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "kicad_pcb", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "zsh", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "kicad_wks", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "info", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "cppm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "svg", text = "󰜡", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "flac", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "cuh", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "bin", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "zig", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "yml", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "yaml", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "fsscript", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "xz", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "diff", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "mojo", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "cshtml", text = "󱦗", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "bak", text = "󰁯", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "nfo", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "bat", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "cpy", text = "⚙", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "gql", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "c++", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "lff", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "obj", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "sha512", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "scm", text = "󰘧", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "aiff", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "sig", text = "λ", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "webm", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "zip", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "wrz", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "jwmrc", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "xml", text = "󰗀", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "cbl", text = "⚙", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "rmd", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "xaml", text = "󰙳", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "xm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "wvc", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "drl", text = "", fg_dark = "{{ .colorScheme.maroon | quote }}", fg_light = "{{ .colorScheme.maroon | quote }}" },
  { name = "erl", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "3gp", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "ccm", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "ino", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "kbx", text = "󰯄", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "test.js", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "wrl", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "pcm", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "woff", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "scala", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "webpack", text = "󰜫", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "hrl", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "kra", text = "", fg_dark = "{{ .colorScheme.mauve | quote }}", fg_light = "{{ .colorScheme.mauve | quote }}" },
  { name = "kicad_pro", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "bazel", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "toml", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "iges", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "crdownload", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "so", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "strings", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "xls", text = "󰈛", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "wav", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "vsix", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "kicad_prl", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "mov", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "bash", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sqlite3", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "vsh", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "vim", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "lck", text = "", fg_dark = "{{ .colorScheme.subtext1 | quote }}", fg_light = "{{ .colorScheme.subtext1 | quote }}" },
  { name = "go", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "pyo", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "vhdl", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "vhd", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "rar", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "magnet", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "vala", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "coffee", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "kdbx", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "po", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "v", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "prisma", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "f90", text = "󱈚", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "txt", text = "󰈙", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "mo", text = "∞", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "mp4", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "cljc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "heex", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "exs", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "clj", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "luau", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "fcparam", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "markdown", text = "", fg_dark = "{{ .colorScheme.text | quote }}", fg_light = "{{ .colorScheme.text | quote }}" },
  { name = "dxf", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "luac", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "desktop", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "docx", text = "󰈬", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "cljd", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "txz", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "bicepparam", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "kt", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "fcstd", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "md", text = "", fg_dark = "{{ .colorScheme.text | quote }}", fg_light = "{{ .colorScheme.text | quote }}" },
  { name = "edn", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "sub", text = "󰨖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "ttf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "tsx", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "hurl", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "dll", text = "", fg_dark = "{{ .colorScheme.crust | quote }}", fg_light = "{{ .colorScheme.crust | quote }}" },
  { name = "lhs", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "tsconfig", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "msf", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "ts", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "rproj", text = "󰗆", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "org", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "signature", text = "λ", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "elm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "pyc", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "tmux", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "tgz", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "nu", text = ">", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "tfvars", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "lua", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "astro", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "lib", text = "", fg_dark = "{{ .colorScheme.crust | quote }}", fg_light = "{{ .colorScheme.crust | quote }}" },
  { name = "tex", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "ogg", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "stp", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sublime", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "test.tsx", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "nswag", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "test.ts", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "test.jsx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "dwg", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "bib", text = "󱉟", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "sass", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "templ", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "tcl", text = "󰛓", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "pck", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "swift", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "makefile", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "xcstrings", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "slim", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "iso", text = "", fg_dark = "{{ .colorScheme.flamingo | quote }}", fg_light = "{{ .colorScheme.flamingo | quote }}" },
  { name = "fsi", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "dart", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "nix", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "svelte", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "sv", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "bz2", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "sha256", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "twig", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "material", text = "󰔉", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "ppt", text = "󰈧", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "pyd", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "step", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "hx", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "webmanifest", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "kicad_sch", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "cjs", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "stl", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "ejs", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "ssa", text = "󰨖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "license", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "jsonc", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "download", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "ige", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sqlite", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "psd1", text = "󰨊", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "dump", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "resi", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "spec.ts", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "fnl", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "cu", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "scss", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "config.ru", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "psd", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "db", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "epub", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "haml", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "sol", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "sml", text = "λ", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "svh", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sldprt", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "ico", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "xlsx", text = "󰈛", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "rs", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "dconf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "bz3", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "fdmdownload", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "fs", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "patch", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "hs", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "xcf", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "js", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "pyw", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "sha384", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "fcmat", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "csh", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "suo", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "sha224", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "sha1", text = "󰕥", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "cr", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "huff", text = "󰡘", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "sh", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "sc", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "ksh", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "cc", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "wma", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "mp3", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "conf", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "3mf", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "sbt", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "kicad_mod", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "terminal", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "rlib", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "pdf", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "mts", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "kdenlive", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "kts", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "spec.tsx", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "res", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "hxx", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "rb", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "vh", text = "󰍛", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "ixx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "cson", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "cts", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "7z", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "ex", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "cpp", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "qss", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "app", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "jxl", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "qrc", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "qml", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "epp", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "otf", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "hh", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "qm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "pro", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "exe", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "kdenlivetitle", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "kdb", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "mpp", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "Dockerfile", text = "󰡨", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "bqn", text = "⎉", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "torrent", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "m3u", text = "󰲹", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "py", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "pxd", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "f3d", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "out", text = "", fg_dark = "{{ .colorScheme.surface1 | quote }}", fg_light = "{{ .colorScheme.surface1 | quote }}" },
  { name = "spec.jsx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "kicad_dru", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "ps1", text = "󰨊", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "ui", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "styl", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "f#", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "png", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "ply", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "php", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "eex", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "tbc", text = "󰛓", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "part", text = "", fg_dark = "{{ .colorScheme.teal | quote }}", fg_light = "{{ .colorScheme.teal | quote }}" },
  { name = "pub", text = "󰷖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "ipynb", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "opus", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "git", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "bmp", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "blade.php", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "nim", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "xpi", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "mustache", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "tscn", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "scad", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "ai", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "hex", text = "", fg_dark = "{{ .colorScheme.overlay0 | quote }}", fg_light = "{{ .colorScheme.overlay0 | quote }}" },
  { name = "hpp", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "xul", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "mobi", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "fcstd1", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "ical", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "icalendar", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "bicep", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "mm", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "mkv", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "graphql", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "mjs", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "mint", text = "󰌪", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "m4v", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "m4a", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "tf", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "gv", text = "󱁉", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "lock", text = "", fg_dark = "{{ .colorScheme.subtext1 | quote }}", fg_light = "{{ .colorScheme.subtext1 | quote }}" },
  { name = "krz", text = "", fg_dark = "{{ .colorScheme.mauve | quote }}", fg_light = "{{ .colorScheme.mauve | quote }}" },
  { name = "kpp", text = "", fg_dark = "{{ .colorScheme.mauve | quote }}", fg_light = "{{ .colorScheme.mauve | quote }}" },
  { name = "ko", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "kicad_sym", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "psm1", text = "󰨊", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "pyx", text = "", fg_dark = "{{ .colorScheme.blue | quote }}", fg_light = "{{ .colorScheme.blue | quote }}" },
  { name = "json5", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "json", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "bzl", text = "", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "ifb", text = "", fg_dark = "{{ .colorScheme.surface0 | quote }}", fg_light = "{{ .colorScheme.surface0 | quote }}" },
  { name = "image", text = "", fg_dark = "{{ .colorScheme.flamingo | quote }}", fg_light = "{{ .colorScheme.flamingo | quote }}" },
  { name = "jpg", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "jpeg", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "java", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "wv", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "ini", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "cast", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "cp", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "fctl", text = "", fg_dark = "{{ .colorScheme.red | quote }}", fg_light = "{{ .colorScheme.red | quote }}" },
  { name = "ifc", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "sldasm", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "html", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "typoscript", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "🔥", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "htm", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "ste", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "spec.js", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "gresource", text = "", fg_dark = "{{ .colorScheme.rosewater | quote }}", fg_light = "{{ .colorScheme.rosewater | quote }}" },
  { name = "ebook", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "gradle", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "gd", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "fish", text = "", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "igs", text = "󰻫", fg_dark = "{{ .colorScheme.green | quote }}", fg_light = "{{ .colorScheme.green | quote }}" },
  { name = "fbx", text = "󰆧", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "env", text = "", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "srt", text = "󰨖", fg_dark = "{{ .colorScheme.yellow | quote }}", fg_light = "{{ .colorScheme.yellow | quote }}" },
  { name = "dot", text = "󱁉", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "doc", text = "󰈬", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "d.ts", text = "", fg_dark = "{{ .colorScheme.peach | quote }}", fg_light = "{{ .colorScheme.peach | quote }}" },
  { name = "applescript", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "cxx", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "img", text = "", fg_dark = "{{ .colorScheme.flamingo | quote }}", fg_light = "{{ .colorScheme.flamingo | quote }}" },
  { name = "cljs", text = "", fg_dark = "{{ .colorScheme.sapphire | quote }}", fg_light = "{{ .colorScheme.sapphire | quote }}" },
  { name = "cobol", text = "⚙", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "cob", text = "⚙", fg_dark = "{{ .colorScheme.surface2 | quote }}", fg_light = "{{ .colorScheme.surface2 | quote }}" },
  { name = "cmake", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
  { name = "webp", text = "", fg_dark = "{{ .colorScheme.overlay1 | quote }}", fg_light = "{{ .colorScheme.overlay1 | quote }}" },
]
