[manager]
# NOTE: can combined with tmTheme (sublime colorshceme file) for preview code highlight
# highlight = "path/to/tmTheme"

cwd = { fg = "{{ .colorScheme.foreground }}", italic = true }

# Hovered
hovered         = { bg = "{{ .colorScheme.scrollbar_thumb }}" }
preview_hovered = { bg = "{{ .colorScheme.scrollbar_thumb }}" }

# Find
find_keyword  = { fg = "{{ index .colorScheme.ansi 0 }}", bg = {{ get .colorScheme.indexed "16" | quote }}, bold = true }
find_position = { fg = "{{ index .colorScheme.brights 4 }}", bg = "{{ .colorScheme.background }}", bold = true }

# Marker
marker_copied   = { fg = "{{ index .colorScheme.ansi 6 }}", bg = "{{ index .colorScheme.ansi 6 }}" }
marker_cut      = { fg = "{{ index .colorScheme.ansi 1 }}", bg = "{{ index .colorScheme.ansi 1 }}" }
marker_marked   = { fg = "{{ index .colorScheme.brights 5 }}", bg = "{{ index .colorScheme.brights 5 }}" }
marker_selected = { fg = "{{ index .colorScheme.ansi 4 }}", bg = "{{ index .colorScheme.ansi 4 }}" }

# Tab
tab_active   = { fg = "{{ .colorScheme.foreground }}", bg = "{{ .colorScheme.scrollbar_thumb }}" }
tab_inactive = { fg = "{{ index .colorScheme.brights 0 }}", bg = "{{ .colorScheme.background }}" }
tab_width    = 1

# Count
count_copied   = { fg = "{{ .colorScheme.foreground }}", bg = "{{ index .colorScheme.ansi 6 }}" }
count_cut      = { fg = "{{ .colorScheme.foreground }}", bg = "{{ index .colorScheme.brights 1 }}" }
count_selected = { fg = "{{ .colorScheme.foreground }}", bg = "{{ index .colorScheme.brights 4 }}" }

# Border
border_symbol = "│"
border_style  = { fg = "{{ index .colorScheme.brights 4 }}" }

[status]
separator_open  = ""
separator_close = ""
separator_style = { fg = "{{ index .colorScheme.brights 0 }}", bg = "{{ index .colorScheme.brights 0 }}" }

# Mode
mode_normal = { fg = "{{ index .colorScheme.ansi 0 }}", bg = "{{ index .colorScheme.ansi 4 }}", bold = true }
mode_select = { fg = "{{ index .colorScheme.ansi 0 }}", bg = "{{ index .colorScheme.brights 5 }}", bold = true }
mode_unset  = { fg = "{{ index .colorScheme.ansi 0 }}", bg = {{ get .colorScheme.indexed "16" | quote }}, bold = true }

# Progress
progress_label  = { fg = "{{ .colorScheme.foreground }}", bold = true }
progress_normal = { fg = "{{ .colorScheme.background }}" }
progress_error  = { fg = "{{ index .colorScheme.ansi 1 }}" }

# Permissions
permissions_t = { fg = "{{ index .colorScheme.ansi 4 }}" }
permissions_r = { fg = "{{ index .colorScheme.ansi 3 }}" }
permissions_w = { fg = "{{ index .colorScheme.ansi 1 }}" }
permissions_x = { fg = "{{ index .colorScheme.ansi 2 }}" }
permissions_s = { fg = "{{ index .colorScheme.brights 0 }}" }

[select]
border   = { fg = "{{ index .colorScheme.brights 4 }}" }
active   = { fg = "{{ .colorScheme.foreground }}",  bg = "{{ .colorScheme.selection_bg }}" }
inactive = { fg = "{{ .colorScheme.foreground }}" }

# Input
[input]
border   = { fg = "{{ index .colorScheme.brights 4 }}" }
title    = {}
value    = { fg = {{ get .colorScheme.indexed "16" | quote }} }
selected = { bg = "{{ .colorScheme.selection_bg }}" }

# Completion
[completion]
border   = { fg = "{{ index .colorScheme.brights 4 }}" }
active   = { fg = "{{ .colorScheme.foreground }}", bg = "{{ .colorScheme.selection_bg }}" }
inactive = { fg = "{{ .colorScheme.foreground }}" }

# Tasks
[tasks]
border  = { fg = "{{ index .colorScheme.brights 4 }}" }
title   = {}
hovered = { fg = "{{ .colorScheme.foreground }}", bg="{{ .colorScheme.selection_bg }}" }

# Which
[which]
cols = 3
mask            = { bg = "{{ index .colorScheme.ansi 0 }}" }
cand            = { fg = "{{ index .colorScheme.ansi 6 }}" }
rest            = { fg = "{{ index .colorScheme.ansi 4 }}" }
desc            = { fg = "{{ index .colorScheme.brights 5 }}" }
separator       = "  "
separator_style = { fg = "{{ index .colorScheme.brights 0 }}" }

# Notify
[notify]
title_info  = { fg = "{{ index .colorScheme.brights 4 }}" }
title_warn  = { fg = "{{ index .colorScheme.ansi 3 }}" }
title_error = { fg = "{{ index .colorScheme.ansi 1 }}" }

# Help
on      = { fg = "{{ index .colorScheme.ansi 2 }}" }
run     = { fg = "{{ index .colorScheme.brights 5 }}" }
hovered = { bg = "{{ .colorScheme.selection_bg }}" }
footer  = { fg = "{{ .colorScheme.foreground }}", bg = "{{ .colorScheme.background }}" }

[filetype]

rules = [
  # Images
  { mime = "image/*", fg = "{{ index .colorScheme.ansi 3 }}" },

  # Media
  { mime = "{audio,video}/*", fg = "{{ index .colorScheme.brights 5 }}" },

  # Archives
  { mime = "application/*zip", fg = "{{ index .colorScheme.ansi 1 }}" },
  { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", fg = "{{ index .colorScheme.ansi 1 }}" },

  # Documents
  { mime = "application/{pdf,doc,rtf,vnd.*}", fg = "{{ index .colorScheme.ansi 6 }}" },

  # Empty files
  # { mime = "inode/x-empty", fg = "{{ index .colorScheme.ansi 1 }}" },

  # Special files
  { name = "*", is = "orphan", bg = "{{ index .colorScheme.ansi 1 }}" },
  { name = "*", is = "exec"  , fg = "{{ index .colorScheme.ansi 2 }}" },

  # Fallback
  { name = "*/", fg = "{{ index .colorScheme.ansi 4 }}" }
]

{{/* vim: set filetype=toml sw=2 ts=2 expandtab: */}}

