.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
.emacs.d/.local/**
.emacs.d/auto-save-list/**
.emacs.d/eln-cache/**
.emacs.d/elpa/**
.emacs.d/elpa-28.0/**
.emacs.d/transient/**
.emacs.d/custom.el
.emacs.d/projectile-bookmarks.eld
.pyenv/shims/**
.pyenv/versions/**
.pyenv/version
.nvm/.cache/**
.nvm/alias/**
.nvm/versions
README.org
key.txt.age
__pycache__/

{{ if eq .chezmoi.os "windows" }}
.Xresources
.chezmoiscripts/linux/**
.config/fontconfig/**
.huslogin
.local/**
.profile
.tmux.conf
.wallpaper/**
.zprofile
.zshrc
{{ end }}

{{ if eq .chezmoi.os "linux" }}
.chezmoiscripts/windows/**
Documents/PowerShell/**
{{ end }}
