# chezmoi.yaml -*- mode: yaml -*-

# Question mark at the end not required. Chezmoi adds its own.
{{ $doom := promptBool "Want doom emacs setup" -}}
{{ $purcell := promptBool "Want purcell emacs setup" -}}
{{ $emacs := promptBool "Want to build emacs" -}}
{{ $personalmachine := promptBool "Is it personal machine" -}}
{{ $win11 := promptBool "Is it win11" -}}

data:
  doom: {{ $doom }}
  purcell: {{ $purcell }}
  emacs: {{ $emacs }}
  personalmachine: {{ $personalmachine }}
  win11: {{ $win11 }}

encryption : "age"
age:
  identity: "~/key.txt"
  recipient: "age17yfjyk63433uzr5q2lqxx4sexfnz6e9t648kku5t9sehfye7x4eqy9mhmu"
