# vim: set expandtab ts=4 sw=4 ft=toml:
# gitconfig -*- mode: toml -*-
[alias]
  tree = log --graph --oneline --all
  tree2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[core]
    pager = delta

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[diff]
    colorMoved = default

[init]
  defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[user]
  name = Dhruvin Shah
# {{- if eq .personalmachine true }}
  email = dhruvin3@gmail.com
# {{- else }}
  email = dshah@evertz.com
# {{- end }}

[url "git@github.com:dhruvinsh"]
  insteadOf = https://github.com/dhruvinsh



