# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" ".local/share/bob/nvim-bin" }}
{{-    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

ZSH_DISABLE_COMPFIX=true

# starship
export STARSHIP_CONFIG=~/.config/starship/starship.toml
eval "$(starship init zsh)"

# fzf setup
eval "$(fzf --zsh)"
# unset FZF_DEFAULT_OPTS if any
[[ -z $FZF_DEFAULT_OPTS ]] || unset FZF_DEFAULT_OPTS
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --highlight-line \
  --info=inline-right \
  --ansi \
  --layout=reverse \
  --border=none \
  --multi \
"

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  # --color=bg+:{{ .colorScheme.surface0 | quote }} \
  # --color=bg:{{ .colorScheme.base | quote }} \
  --color=bg+:-1 \
  --color=bg:-1 \
  --color=fg+:{{ .colorScheme.text | quote }} \
  --color=fg:{{ .colorScheme.text | quote }} \
  --color=header:{{ .colorScheme.red | quote }} \
  --color=hl+:{{ .colorScheme.red | quote }} \
  --color=hl:{{ .colorScheme.red | quote }} \
  --color=info:{{ .colorScheme.mauve | quote }} \
  --color=marker:{{ .colorScheme.lavender | quote }} \
  --color=pointer:{{ .colorScheme.rosewater | quote }} \
  --color=prompt:{{ .colorScheme.mauve | quote }} \
  --color=selected-bg:{{ .colorScheme.surface1 | quote }} \
  --color=spinner:{{ .colorScheme.rosewater | quote }} \
"

export NVIM_COLORSCHEME={{ .colorScheme.name }}

DISABLE_AUTO_UPDATE="true"

# check if .zsh directory present
[[ -d $HOME/.zsh ]] && source $HOME/.zsh/zsh-syntax-highlighting.zsh

plugins=(
  {{- if eq .chezmoi.os "darwin" }}
  brew
  {{- end }}
  git
  mise
  zoxide
  zsh-syntax-highlighting
  zsh-autosuggestions
  zsh-completions
)

# zsh-completions setup
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

source $ZSH/oh-my-zsh.sh

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='nvim'
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}

# Aliases
alias vim=nvim
alias lg=lazygit

# Direnv Setup
[[ -x $(command -v direnv) ]] && eval "$(direnv hook zsh)"

# Atuin Setup
eval "$(atuin init zsh)"

# mise-en-place setup (replaces volta, pyenv)
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/mise activate zsh)"
{{ else -}}
eval "$(~/.local/bin/mise activate zsh)"
{{- end }}

{{- if .wsl }}
export DISPLAY=:0
# https://github.com/microsoft/wslg/wiki/GPU-selection-in-WSLg
export MESA_D3D12_DEFAULT_ADAPTER_NAME=NVIDIA
export PATH=/usr/lib/wsl/lib:$PATH

# In wsl some annoying windows paths get added, some are useful and some aren't
# let's remove the annoying ones
export PATH=$(echo $PATH | tr ":" "\n" | rg -vi appdata | paste -sd':' -)
{{- end}}

##################################################################
# User functions
csv() {
  uvx --with openpyxl visidata "$@"
}

llm() {
  command llm "$@" | streamdown
}

f() {
  local cmd=()
  local fzf_args=()
  local found_sep=0
  for arg in "$@"; do
    if [ "$arg" = "--" ]; then
      found_sep=1
      continue
    fi
    if [ $found_sep -eq 0 ]; then
      cmd+=("$arg")
    else
      fzf_args+=("$arg")
    fi
  done
  "${cmd[@]}" | fzf "${fzf_args[@]}"
}

cuda_switch() {
  local versions=("12.8" "12.9" "13.0")
  local cuda_root="/usr/local"
  local target="$1"

  if [[ ! " ${versions[*]} " =~ " ${target} " ]]; then
      echo "Usage: cuda_switch <${versions[*]}>"
      return 1
  fi

  # Remove any existing cuda/bin from PATH
  PATH=$(echo "$PATH" | tr ':' '\n' | grep -v "^${cuda_root}/cuda" | paste -sd: -)

  export CUDA_HOME="${cuda_root}/cuda-${target}"
  export PATH="${CUDA_HOME}/bin:$PATH"
  export LD_LIBRARY_PATH="${CUDA_HOME}/lib64"

  # For convenience, you can also make /usr/local/cuda point to the selected version (optional, needs sudo)
  # sudo ln -sfn "${CUDA_HOME}" "${cuda_root}/cuda"

  echo "Switched to CUDA ${target}. (PATH updated, LD_LIBRARY_PATH set)"
}

{{- /* vim: set filetype=zsh ts=2 sw=2: */}}
