# vim: set ft=tmux
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin '27medkamal/tmux-session-wizard'
set -g @plugin 'sainnhe/tmux-fzf'

set -as terminal-features ",xterm-256color:RGB"
# {{- if eq .wsl true }}
set -sg escape-time 10
# {{- end }}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

# zen-mode.nvim
set-option -g allow-passthrough on
