
/* Color-Scheme */
* {
    main-bg: {{ .colorScheme.base }}e6; /* A semi-transparent dark background */
    alt-bg:  {{ .colorScheme.surface0 }}e6; /* An alternate background color */
    main-fg: {{ .colorScheme.text }}ff; /* A light foreground color */
    main-br: {{ .colorScheme.blue }}ff; /* A blueish color for borders */
    main-ex: {{ .colorScheme.red }}ff; /* A reddish color for accents */
    select-bg: {{ .colorScheme.blue }}ff; /* Blueish selection background */
    select-fg: {{ .colorScheme.base }}ff; /* Dark selection foreground */
}
