{{ $url := "http://10.16.136.20:4100" -}}
{{ if .personalmachine -}}
{{ $url = "https://litellm.ds-nas.com" -}}
{{ end -}}
{
  "url": {{ (list $url "v1/embeddings") | join "/" | quote }},
  "model_name": "text-embedding-3-large",
  "db_url": "http://127.0.1:8000",
  "reranker_params": {
    "model_name_or_path": "cross-encoder/ms-marco-MiniLM-L6-v2"
  }
}

