adjust-cell-height      = 20%
background-blur         = true
background-opacity      = 0.88
cursor-invert-fg-bg     = true
font-family             = {{ .font.regular | quote }}
font-family-italic      = {{ .font.italic | quote }}
font-size               = 13
font-style              = SemiBold
mouse-hide-while-typing = true
scrollback-limit        = 1000000
shell-integration       = zsh
theme                   = "custom-ghostty.conf"
window-save-state       = always
{{- if eq .chezmoi.os "darwin" }}
window-decoration       = auto
{{- else }}
window-decoration       = none
{{- end }}
