font-size = 13
font-family = {{ .font.regular | quote }}
font-style = SemiBold
font-family-italic = {{ .font.italic | quote }}
adjust-cell-height = 20%
theme = "custom-ghostty.conf"
background-opacity = 0.88
background-blur = true
