local M = {}

M.setup = function(cfg)
  cfg.colors = {
    foreground = {{ .colorScheme.foreground | quote }},
    background = {{ .colorScheme.background | quote }},

    cursor_bg = {{ .colorScheme.cursor_bg | quote }},
    cursor_border = {{ .colorScheme.cursor_border | quote }},
    cursor_fg = {{ .colorScheme.cursor_fg | quote }},

    selection_fg = {{ .colorScheme.selection_fg | quote }},
    selection_bg = {{ .colorScheme.selection_bg | quote }},

    scrollbar_thumb = {{ .colorScheme.scrollbar_thumb | quote }},
    split = {{ .colorScheme.split | quote }},

    ansi = {"{{ .colorScheme.ansi | join "\", \""}}"},
    brights = {"{{ .colorScheme.brights | join "\", \""}}"},

    indexed = {{ .colorScheme.indexed | toJson | replaceAllRegex ":" "=" | replaceAllRegex "\"([0-9][0-9])\"" "[${1}]" }},

    compose_cursor = {{ .colorScheme.compose_cursor | quote }},
    tab_bar = {
      inactive_tab_edge = {{ index .colorScheme.ansi 0 | quote }},
      background = {{ .colorScheme.background | quote }},

      active_tab = {
        fg_color = {{ index .colorScheme.ansi 0 | quote }},
        bg_color = {{ index .colorScheme.ansi 4 | quote }},
      },
      inactive_tab = {
        fg_color = {{ index .colorScheme.brights 0 | quote }},
        bg_color = {{ .colorScheme.split | quote }},
      },
      inactive_tab_hover = {
        fg_color = {{ index .colorScheme.ansi 4 | quote }},
        bg_color = {{ .colorScheme.split | quote }},
        italic = true,
      },
      new_tab = {
        fg_color = {{ index .colorScheme.ansi 4 | quote }},
        bg_color = {{ .colorScheme.background | quote }},
      },
      new_tab_hover = {
        fg_color = {{ index .colorScheme.ansi 4 | quote }},
        bg_color = {{ .colorScheme.background | quote }},
        intensity = "Bold",
      },
    }

  }
end

return M

--[[/* vim: set filetype=lua: */]]
