local M = {}

M.setup = function(cfg)
  cfg.colors = {
    foreground = {{ .colorScheme.text | quote }},
    background = {{ .colorScheme.base | quote }},

    compose_cursor = {{ .colorScheme.flamingo | quote }},
    cursor_bg = {{ .colorScheme.rosewater | quote }},
    cursor_border = {{ .colorScheme.rosewater | quote }},
    cursor_fg = {{ .colorScheme.crust | quote }},

    selection_fg = {{ .colorScheme.text | quote }},
    selection_bg = {{ .colorScheme.surface2 | quote }},

    scrollbar_thumb = {{ .colorScheme.surface2 | quote }},
    split = {{ .colorScheme.overlay0 | quote }},
    visual_bell = {{ .colorScheme.surface0 | quote }},

    ansi = {
      {{ .colorScheme.surface1 | quote }},
      {{ .colorScheme.red | quote }},
      {{ .colorScheme.green | quote }},
      {{ .colorScheme.yellow | quote }},
      {{ .colorScheme.blue | quote }},
      {{ .colorScheme.pink | quote }},
      {{ .colorScheme.teal | quote }},
      {{ .colorScheme.subtext1 | quote }},
    },
    brights = {
      {{ .colorScheme.surface1 | quote }},
      {{ .colorScheme.red | quote }},
      {{ .colorScheme.green | quote }},
      {{ .colorScheme.yellow | quote }},
      {{ .colorScheme.blue | quote }},
      {{ .colorScheme.pink | quote }},
      {{ .colorScheme.teal | quote }},
      {{ .colorScheme.subtext1 | quote }},
    },

    indexed = {
      [16] = {{ .colorScheme.peach | quote }},
      [17] = {{ .colorScheme.rosewater | quote }},
    },

    tab_bar = {
      background = {{ includeTemplate "hex2rgb" (list .colorScheme.crust 0.8) | quote }},
      inactive_tab_edge = {{ .colorScheme.surface0 | quote }},

      active_tab = {
        fg_color = {{ .colorScheme.crust | quote }},
        bg_color = {{ .colorScheme.mauve | quote }},
        intensity = 'Normal',
        italic = false,
        strikethrough = false,
        underline = 'None',
      },

      inactive_tab = {
        fg_color = {{ .colorScheme.text | quote }},
        bg_color = {{ .colorScheme.mantle | quote }},
        intensity = 'Normal',
        italic = false,
        strikethrough = false,
        underline = 'None',
      },

      inactive_tab_hover = {
        fg_color = {{ .colorScheme.text | quote }},
        bg_color = {{ .colorScheme.base | quote }},
        intensity = 'Normal',
        italic = true,
        strikethrough = false,
        underline = 'None',
      },

      new_tab = {
        fg_color = {{ .colorScheme.text | quote }},
        bg_color = {{ .colorScheme.surface0 | quote }},
        intensity = 'Normal',
        italic = false,
        strikethrough = false,
        underline = 'None',
      },

      new_tab_hover = {
        fg_color = {{ .colorScheme.text | quote }},
        bg_color = {{ .colorScheme.surface1 | quote }},
        intensity = 'Bold',
        italic = false,
        strikethrough = false,
        underline = 'None',
      },
    }
  }
end

return M

--[[/* vim: set filetype=lua: */]]
