local M = {}
local palette = require("colors.palettes")[{{ .ui.colorScheme | quote }}]

M.setup = function(cfg)
  cfg.colors = {
    foreground = palette.foreground,
    background = palette.background,

    cursor_bg = palette.cursor_bg,
    cursor_border = palette.cursor_border,
    cursor_fg = palette.cursor_fg,

    selection_fg = palette.selection_fg,
    selection_bg = palette.selection_bg,

    scrollbar_thumb = palette.scrollbar_thumb or "#6b6b6b",
    split = palette.split,
    visual_bell = palette.visual_bell or "#524f67", -- pending

    ansi = palette.ansi,
    brights = palette.brights,

    indexed = palette.indexed or { [136] = "#af8700" },

    compose_cursor = palette.compose_cursor or "#75b5aa",
  }
  cfg.colors.tab_bar = palette.tab_bar
end

return M

--[[/* vim: set filetype=lua: */]]
