local M = {}

-- schemer-dark color scheme
-- base00 = "#16161D",
-- base01 = "#3e4451",
-- base02 = "#2c313c",
-- base03 = "#565c64",
-- base04 = "#6c7891",
-- base05 = "#abb2bf",
-- base06 = "#9a9bb3",
-- base07 = "#c5c8e6",
-- base08 = "#e06c75",
-- base09 = "#d19a66",
-- base0A = "#e5c07b",
-- base0B = "#98c379",
-- base0C = "#56b6c2",
-- base0D = "#0184bc",
-- base0E = "#c678dd",
-- base0F = "#a06949",

M.onedark = {
  foreground = "#abb2bf", -- base05
  background = "#16161D", -- base00

  cursor_bg = "#abb2bf", -- base05
  cursor_border = "#abb2bf", -- base05
  cursor_fg = "#abb2bf", -- base05

  selection_bg = "#abb2bf", -- base05
  selection_fg = "#16161D", -- base00

  ansi = {
    "#16161D", -- base00
    "#e06c75", -- base08
    "#98c379", -- base0B
    "#e5c07b", -- base0A
    "#0184bc", -- base0D
    "#c678dd", -- base0E
    "#56b6c2", -- base0C
    "#abb2bf", -- base05
  },
  brights = {
    "#565c64", -- base03
    "#e06c75", -- base08
    "#98c379", -- base0B
    "#e5c07b", -- base0A
    "#0184bc", -- base0D
    "#c678dd", -- base0E
    "#56b6c2", -- base0C
    "#c5c8e6", -- base07
  },
}

return M

--[[/* vim: set filetype=lua: */]]
