# vim: set ft=powershell

try {
  if (Get-Command scoop) {
    $packages = @(
      "main/nodejs-lts"
      "nerd-fonts/CascadiaCode-NF"
      "versions/neovim-nightly"
    );

    foreach ($package in $packages) {
      Write-Output "--> Uninstalling $package.."
      scoop uninstall $package
    }
  }
}
catch {
  Write-Output "Scoop not found, assuming new setup."
}

try {
  if (Get-Command pipx) {
    Write-Output "Removing pipx packages."
    pipx uninstall-all
    pip uninstall -y pipx
  }
}
catch {
  Write-Output "pipx not found."
}

if (scoop list | Select-String -Pattern '^volta\s') {
    scoop uninstall volta
} else {
    Write-Output "--> Volta is not installed."
}

Write-Output "Removing gitconfig.."
rm ~/.gitconfig
