# vim: set ft=powershell

try {
  if (Get-Command scoop) {
    $packages = @(
      "main/nodejs-lts"
      "nerd-fonts/CascadiaCode-NF"
      "versions/neovim-nightly"
    );

    foreach ($package in $packages) {
      Write-Output "--> Uninstalling $package.."
      scoop uninstall $package
    }
  }
}
catch {
  Write-Output "Scoop not found, assuming new setup."
}

Write-Output "Removing gitconfig.."
rm ~/.gitconfig
