# vim: set ft=powershell

$packages = @(
  "nerd-fonts/CascadiaCode-NF"
  "versions/neovim-nightly"
);


foreach ($package in $packages) {
    Write-Output "--> Uninstalling $package.."
    scoop uninstall $package
}

rm ~/.gitconfig
