# Font configuration
bold_font                  auto
bold_italic_font           auto
font_family                {{ .font.regular }}
font_size                  12
italic_font                {{ .font.italic }}

# Appearance
include                    current-theme.conf
background_opacity         0.8
background_blur            16
dynamic_background_opacity yes
window_padding_width       20
tab_bar_edge               bottom
tab_bar_style              powerline
tab_powerline_style        round
tab_title_template         {title}{' :{}:'.format(num_windows) if num_windows > 1 else ''}

# Scrollback
scrollback_lines           50000

# Feedback
enable_audio_bell          no
cursor_trail               1
