# Font configuration
bold_font                  auto
bold_italic_font           auto
font_family                {{ .font.regular }}
{{ if eq .chezmoi.os "darwin" }}
font_size                  14
{{ else if .archlinux }}
font_size                  12
{{ else }}
font_size                  13
{{ end }}
italic_font                {{ .font.italic }}
# Reference: https://github.com/kovidgoyal/kitty/issues/1463#issuecomment-2438394737
modify_font cell_height    120%
symbol_map U+E000-U+F8FF,U+F0000-U+FFFFF,U+100000-U+10ffff JetBrainsMonoNL Nerd Font

# Appearance
include                    current-theme.conf
{{- if .personalmachine }}
background_opacity         0.8
background_blur            16
dynamic_background_opacity yes
{{- end }}
window_padding_width       20
tab_bar_edge               bottom
tab_bar_style              powerline
tab_powerline_style        round
tab_title_template         {title}{' :{}:'.format(num_windows) if num_windows > 1 else ''}

# Scrollback
scrollback_lines           50000

# Feedback
enable_audio_bell          no
