# Font configuration
bold_font                  auto
bold_italic_font           auto
font_family                {{ .font.regular }}
font_size                  12
italic_font                {{ .font.italic }}

# Appearance
include                    current-theme.conf
background_opacity         0.7
background_blur            16
dynamic_background_opacity yes

# Scrollback
scrollback_lines           50000
