#!/usr/bin/env bash
# vim: set expandtab ts=4 sw=4 ft=sh:

set -euo pipefail

if [ ! "$(command -v mise)" ]; then
    echo "Install node with help of mise ⚡️"
    curl https://mise.run | sh

fi

# mise/config.toml sha256: {{  include "private_dot_config/mise/config.toml.tmpl" | sha256sum }}
echo "Install/update mise packages 📦"
mise install
mise upgrade
