#!/bin/bash
# vim: set expandtab ts=4 sw=4 ft=sh:
# shellcheck disable=1083

VERSION={{ .nerdfontVersion }}

{{ if eq .chezmoi.os "linux" }}
TARGET="$HOME"/.local/share/fonts/
{{ else }}
TARGET="$HOME"/Library/Fonts
{{ end }}

if [ -d "$TARGET" ]; then
    echo "cleaning up fonts.."
    rm -rf "${TARGET:?}/*"
else
    mkdir -p "$TARGET"
fi

CASCADIA=https://github.com/ryanoasis/nerd-fonts/releases/download/v${VERSION}/CascadiaCode.tar.xz
FIRA=https://github.com/ryanoasis/nerd-fonts/releases/download/v${VERSION}/FiraCode.tar.xz
IOSEVKA=https://github.com/ryanoasis/nerd-fonts/releases/download/v${VERSION}/Iosevka.tar.xz
JETBRAINS=https://github.com/ryanoasis/nerd-fonts/releases/download/v${VERSION}/JetBrainsMono.tar.xz
VICTOR=https://github.com/ryanoasis/nerd-fonts/releases/download/v${VERSION}/VictorMono.tar.xz

arr=("$CASCADIA" "$FIRA" "$IOSEVKA" "$JETBRAINS" "$VICTOR")

SRC=/tmp/font.tar.xz
TEMP_DST=/tmp/fonts

# just a cleanup if its present
rm -rf "$SRC" "$TEMP_DST"

for url in "${arr[@]}"; do
    echo "--> setting $url"
    wget -q --show-progress --progress=bar:force 2>&1 "$url" -O "$SRC"
    mkdir -p "$TEMP_DST"
	tar -xf "$SRC" --directory="$TEMP_DST"
    find "$TEMP_DST" -type f -name "*.ttf" -exec mv {} "$TARGET" \;
    rm -rf "$SRC" "$TEMP_DST"
done

echo "--> Setting all-the-icons fonts"
git clone --depth 1 https://github.com/domtronn/all-the-icons.el /tmp/all-the-icons
find /tmp/all-the-icons/fonts -type f -name "*.ttf" -exec mv {} "$TARGET" \;
rm -rf /tmp/all-the-icons

{{ if eq .chezmoi.os "linux" }}
echo "--> updating fonts cache"
fc-cache -f
{{ end }}
