#!/usr/bin/env bash
# vim: set expandtab ts=4 sw=4 ft=sh:
set -euo pipefail

if [ ! "$(command -v uv)" ]; then
    echo "> Checking if mise installed"
    if [ -f "$HOME/.local/bin/mise" ]; then
        echo "> Mise is installed, activating it"
        eval "$(~/.local/bin/mise activate zsh)"
        mise install uv
    else
        echo "> Mise is not installed, please install it first"
        exit 1
    fi
fi

# create some independent envs with packages
packages=(
    aider-chat
    codespell
    files-to-prompt
    httpie
    jupyterlab
    keymap-drawer
    llm
    mypy
    pipenv
    poetry
    pre-commit
    ruff
    streamdown
)

# setup poetry env via uv
for pkg in "${packages[@]}"; do
    echo "*** Setting up $pkg ***"
    uv tool install "$pkg"
done
