#!/bin/bash
# vim: set et ts=4 sw=4 ft=sh:

# {{ if eq .chezmoi.os "darwin" }}
URL={{ gitHubLatestReleaseAssetURL "MordechaiHadad/bob" "bob-macos-arm.zip" | quote }}
# {{ else }}
URL={{ gitHubLatestReleaseAssetURL "MordechaiHadad/bob" "bob-linux-x86_64.zip" | quote }}
# {{ end }}

wget "$URL" -O /tmp/bob.zip
unzip -o /tmp/bob.zip -d /tmp
find /tmp -name bob -exec cp '{}' ~/.local/bin/bob \;
chmod +x ~/.local/bin/bob

# install and setup bob
~/.local/bin/bob erase
~/.local/bin/bob install stable
~/.local/bin/bob use stable
~/.local/bin/bob update -a
