#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
# shellcheck disable=all

if [ -x "$(command -v pipx)" ]; then
    echo "Removing pipx packages"
    pipx uninstall-all
fi

if [ -x "$(command -v pip)" ]; then
    echo "Removing pipx"
    pip uninstall -y pipx
fi

if [ -d "$HOME/.pyenv" ]; then
    echo "Removing pyenv, switched to mise"
    rm -rf "$HOME/.pyenv"
fi

if [ -d "$HOME/.volta" ]; then
    echo "Removing volta, switched to mise"
    rm -rf "$HOME/.volta"
fi

if [ -d "${HOME}/.oh-my-zsh" ]; then
    echo "Removing oh-my-zsh..."
    rm -rf "${HOME}/.oh-my-zsh"
fi

# remove neovim bob
if [ -d "$HOME/.local/bin/bob" ]; then
    echo "Removing bob..."
    rm -rf "$HOME/.local/share/bob" || true
    rm "$HOME/.local/bin/bob" || true
fi

{{ if and (eq .chezmoi.os "linux") (not .archlinux) -}}
# remove neovim appimage (now managed by mise neovim:unstable)
if [ -f "$HOME/.local/bin/nvim" ]; then
    echo "Removing neovim appimage..."
    rm -f "$HOME/.local/bin/nvim"
fi
{{- end }}

#
echo "remove gitconfig..."
if [ -f "$HOME/.gitconfig" ]; then
    echo "Removing gitconfig..."
    rm "$HOME/.gitconfig"
fi

echo "Clean up finished"
