# vim: set expandtab ft=yaml ts=2 tw=2:

# {{ if eq .chezmoi.os "linux" }}
.local/bin/atuin:
  type: archive-file
  url : >-
    https://github.com/atuinsh/atuin/releases/download/{{ (gitHubLatestRelease "atuinsh/atuin").TagName }}/atuin-{{ (gitHubLatestRelease "atuinsh/atuin").TagName }}-x86_64-unknown-{{ .chezmoi.os }}-musl.tar.gz
  executable: true
  stripComponents: 1
  path: atuin

.local/bin/delta:
  type: archive-file
  url : >-
    https://github.com/dandavison/delta/releases/download/{{ (gitHubLatestRelease "dandavison/delta").TagName }}/delta-{{ (gitHubLatestRelease "dandavison/delta").TagName }}-x86_64-unknown-{{ .chezmoi.os }}-musl.tar.gz
  executable: true
  stripComponents: 1
  path: delta

.local/bin/git-cliff:
  type: archive-file
  url : >-
    https://github.com/orhun/git-cliff/releases/download/{{ (gitHubLatestRelease "orhun/git-cliff").TagName }}/git-cliff-{{ trimPrefix "v" (gitHubLatestRelease "orhun/git-cliff").TagName }}-x86_64-unknown-{{ .chezmoi.os }}-musl.tar.gz
  executable: true
  stripComponents: 1
  path: git-cliff

.local/bin/glow:
  type: archive-file
  url: >-
    https://github.com/charmbracelet/glow/releases/download/v{{ .glowVersion }}/glow_Linux_x86_64.tar.gz
  executable: true
  path: glow

.local/bin/helix:
  type: file
  url: >-
    https://github.com/helix-editor/helix/releases/download/{{ .helixVersion }}/helix-{{ .helixVersion }}-x86_64.AppImage
  executable: true

.local/bin/lazygit:
  type: archive-file
  url: >-
    https://github.com/jesseduffield/lazygit/releases/download/v{{ .lazygitVersion }}/lazygit_{{.lazygitVersion }}_Linux_x86_64.tar.gz
  executable: true
  path: lazygit

.local/bin/lazydocker:
  type: archive-file
  url: >-
    https://github.com/jesseduffield/lazydocker/releases/download/v{{ .lazydockerVersion }}/lazydocker_{{ .lazydockerVersion }}_Linux_x86_64.tar.gz
  executable: true
  path: lazydocker

.local/bin/rustfmt:
  type: file
  url: >-
    https://github.com/rust-lang/rustfmt/releases/download/v{{ .rustfmtVersion }}/rustfmt_{{ .chezmoi.os }}-x86_64_v{{ .rustfmtVersion }}.tar.gz
  executable: true
  stripComponents: 1
  path: rustfmt

.local/bin/starship:
  type: archive-file
  url: >-
    https://github.com/starship/starship/releases/download/v{{ .starshipVersion }}/starship-x86_64-unknown-{{ .chezmoi.os }}-musl.tar.gz
  executable: true
  path: starship

.local/bin/tldr:
  type: file
  url: >-
    https://github.com/dbrgn/tealdeer/releases/download/v{{ .tealdeerVersion }}/tealdeer-{{ .chezmoi.os }}-x86_64-musl
  executable: true

.local/bin/zellij:
  type: archive-file
  url: >-
    https://github.com/zellij-org/zellij/releases/download/{{ (gitHubLatestRelease "zellij-org/zellij").TagName }}/zellij-x86_64-unknown-linux-musl.tar.gz
  executable: true
  path: zellij
 
.local/bin/zoxide:
  type: archive-file
  url : >-
    https://github.com/ajeetdsouza/zoxide/releases/download/v{{ .zoxideVersion }}/zoxide-{{ .zoxideVersion }}-x86_64-unknown-linux-musl.tar.gz
  executable: true
  path: zoxide
# {{ end -}}
