{{ $nvimPath := "" }}
{{ if eq .chezmoi.os "windows" }}
{{   $nvimPath = "AppData/Local/nvim" }}
{{ else }}
{{   $nvimPath = ".config/nvim" }}
{{ end }}

[{{ $nvimPath | quote }}]
  type = "git-repo"
  url = "https://github.com/dhruvinsh/nvim.git"
  refreshPeriod = "168h"

{{ $vnvimPath := "" }}
{{ if eq .chezmoi.os "windows" }}
{{   $vnvimPath = "AppData/Local/vnvim" }}
{{ else }}
{{   $vnvimPath = ".config/vnvim" }}
{{ end }}

[{{ $vnvimPath | quote }}]
  type = "archive"
  url = "https://github.com/dhruvinsh/nvim/archive/vnvim.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
      
{{ if and (eq .chezmoi.os "linux") (.isDesktop) }}
{{- $neovideVersionTag :=  (gitHubLatestRelease "neovide/neovide").TagName }}
[".local/bin/neovide"]
  type = "file"
  url = "https://github.com/neovide/neovide/releases/download/{{ $neovideVersionTag }}/neovide.AppImage"
  executable = true
{{- end }}

{{- /* vim: set filetype=toml: */}}
