# vim: set expandtab ft=yaml ts=2 tw=2:

# {{ $nvimPath := "" }}
# {{ if eq .chezmoi.os "windows" }}
# {{   $nvimPath = "AppData/Local/nvim" }}
# {{ else }}
# {{   $nvimPath = ".config/nvim" }}
# {{ end }}

{{ $nvimPath }}:
  type: git-repo
  url: "https://github.com/dhruvinsh/nvim.git"
  pull:
    args:
      - "--ff-only"

# {{ if and (eq .chezmoi.os "linux") (.isDesktop) }}
.local/bin/neovide:
  type: archive-file
  url: >-
    https://github.com/neovide/neovide/releases/download/{{ .neovideVersion }}/neovide.tar.gz
  executable: true
  file: neovide
# {{- end }}
