# vim: set expandtab ft=yaml ts=2 tw=2:

# {{ if ne .chezmoi.os "windows" }}
.tmux/plugins/tpm:
  type: git-repo
  url: "https://github.com/tmux-plugins/tpm.git"
  refreshPeriod: 168h
  pull:
    args:
      - "--ff-only"

# {{ end }}
