{{- if ne .chezmoi.os "windows" -}}

[".zsh/completions/_eza"]
  type = "archive-file"
  url  = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "completions-*.tar.gz"  | quote }}
  stripComponents = 3
  path = "_eza"

[".zsh/zsh-autosuggestions"]
  type = "git-repo"
  url = "https://github.com/zsh-users/zsh-autosuggestions.git"
  refreshPeriod = "168h"

{{- end -}}

{{- /* vim: set filetype=toml: */}}
