[tools]
# Editor
neovim                                                = "nightly"

# Node and JavaScript related stuff
node                                                  = { version = "lts", postinstall = "corepack enable"}
bun                                                   = "latest"

# Node based tools and package managers
"npm:pnpm"                                            = "latest"
"npm:@agentclientprotocol/claude-agent-acp"           = "latest"
"npm:@google/gemini-cli"                              = "latest"
"npm:@qwen-code/qwen-code"                            = "latest"
"npm:yarn"                                            = "latest"
"npm:license-checker"                                 = "latest"
"npm:neovim"                                          = "latest"
"npm:defuddle"                                        = "latest"
"npm:vite"                                            = "latest"
"npm:mcp-hub"                                         = "latest"
"npm:ccusage"                                         = "latest"
"npm:pyright"                                         = "latest"
"npm:typescript"                                      = "latest"
"npm:typescript-language-server"                      = "latest"
copilot                                               = "latest"
codex                                                 = "latest"
pi                                                    = "latest"
tree-sitter                                           = "latest"
viteplus                                              = "latest"
{{ if ne .chezmoi.os "windows" -}}
opencode                                              = "latest"
{{ end -}}

# Python based tools
"pipx:ast-grep-cli"                                   = "latest"
"pipx:httpie"                                         = "latest"
"pipx:jupyterlab"                                     = "latest"
"pipx:keymap-drawer"                                  = "latest"
"pipx:llm"                                            = "latest"
"pipx:pipenv"                                         = "latest"
"pipx:poetry"                                         = "latest"
"pipx:prek"                                           = "latest"
"pipx:pyrefly"                                        = "latest"
"pipx:ruff"                                           = "latest"
"pipx:streamdown"                                     = "latest"
"pipx:ty"                                             = "latest"

# LSP, Lint tools for neovim
"cargo:https://github.com/feel-ix-343/markdown-oxide" = { version = "tag:{{ (gitHubLatestTag "feel-ix-343/markdown-oxide").Name }}", bin = "markdown-oxide" }
"cargo:selene"                                        = "latest"
"go:github.com/owenrumney/make-ls/cmd/make-ls"        = "latest"
"go:golang.org/x/tools/cmd/goimports"                 = "latest"
"go:golang.org/x/tools/gopls"                         = "latest"
"harper-ls"                                           = "latest"
"npm:bash-language-server"                            = "latest"
"npm:vscode-langservers-extracted"                    = "latest"
"npm:vscode-json-languageserver"                      = "latest"
"npm:@vtsls/language-server"                          = "latest"
"npm:yaml-language-server"                            = "latest"
"pipx:basedpyright"                                   = "latest"
"pipx:codespell"                                      = "latest"
checkmake                                             = "latest"
dprint                                                = "latest"
gofumpt                                               = "latest"
golangci-lint                                         = "latest"
lua-language-server                                   = "latest"
markdownlint-cli2                                     = "latest"
prettier                                              = "latest"
shellcheck                                            = "latest"
shfmt                                                 = "latest"
stylua                                                = "latest"
taplo                                                 = "latest"
vale                                                  = "latest"

# Mise related stuff
usage                                                 = "latest"

# Python related stuff
# NOTE: I have to strip "patch" version because windows do not always have update python version
# mise ERROR failed to install core:python@3.11.13
# mise ERROR no precompiled python found for core:python@3.11.13 on x86_64-pc-windows-msvc-shared
python                                                = {{ regexReplaceAll "\\.[0-9]+$" .pythonVersion "" | quote }}
uv                                                    = "latest"

[settings]
# support `.python-version` file
idiomatic_version_file_enable_tools = ["node", "python"]

# "pipx:cowsay" will use uvx to install cowsay
pipx.uvx = true

# python venv auto activate
python.uv_venv_auto = false

experimental = true

minimum_release_age = "3d"
