[tools]
# Node and JavaScript related stuff
node                     = { version = "lts", postinstall = "corepack enable"}
pnpm                     = "latest"
yarn                     = "latest"
# Node based tools
"npm:@google/gemini-cli" = "latest"
"npm:@openai/codex"      = "latest"
"npm:neovim"             = "latest"
"npm:opencode-ai"        = "latest"
"npm:prettier"           = "latest"
"npm:tree-sitter-cli"    = "latest"
"npm:vite"               = "latest"

# Mise related stuff
usage                    = "latest"

# Python related stuff
# NOTE: I have to strip "patch" version because windows do not always have update python version
# mise ERROR failed to install core:python@3.11.13
# mise ERROR no precompiled python found for core:python@3.11.13 on x86_64-pc-windows-msvc-shared
python                   = {{ regexReplaceAll "\\.[0-9]+$" .pythonVersion "" | quote }}
uv                       = "latest"

[settings]
# support `.python-version` file
idiomatic_version_file_enable_tools = ["node", "python"]

# "pipx:cowsay" will use uvx to install cowsay
pipx.uvx = true
