[tools]
# Node and JavaScript related stuff
node                                                  = { version = "lts", postinstall = "corepack enable"}
bun                                                   = "latest"

# Node based tools and package managers
"npm:pnpm"                                            = "latest"
"npm:@github/copilot"                                 = "latest"
"npm:@google/gemini-cli"                              = "latest"
"npm:@mariozechner/pi-coding-agent"                   = "latest"
"npm:@openai/codex"                                   = "latest"
"npm:@qwen-code/qwen-code"                            = "latest"
"npm:yarn"                                            = "latest"
"npm:license-checker"                                 = "latest"
"npm:neovim"                                          = "latest"
{{ if ne .chezmoi.os "windows" -}}
"npm:opencode-ai"                                     = "latest"
{{ end -}}
"npm:prettier"                                        = "latest"
"npm:tree-sitter-cli"                                 = "latest"
"npm:vite"                                            = "latest"
"npm:mcp-hub"                                         = "latest"
"npm:ccusage"                                         = "latest"
"npm:pyright"                                         = "latest"
"npm:typescript"                                      = "latest"
"npm:typescript-language-server"                      = "latest"

# Python based tools
"pipx:ast-grep-cli"                                   = "latest"
"pipx:aider-chat"                                     = "latest"
"pipx:codespell"                                      = "latest"
"pipx:files-to-prompt"                                = "latest"
"pipx:httpie"                                         = "latest"
"pipx:jupyterlab"                                     = "latest"
"pipx:keymap-drawer"                                  = "latest"
"pipx:llm"                                            = "latest"
"pipx:pipenv"                                         = "latest"
"pipx:poetry"                                         = "latest"
"pipx:prek"                                           = "latest"
"pipx:pyrefly"                                        = "latest"
"pipx:ruff"                                           = "latest"
"pipx:streamdown"                                     = "latest"
"pipx:ty"                                             = "latest"

# LSP, Lint tools for neovim
"pipx:basedpyright"                                   = "latest"
"npm:bash-language-server"                            = "latest"
"go:golang.org/x/tools/gopls"                         = "latest"
"harper-ls"                                           = "latest"
"npm:vscode-html-languageservice"                     = "latest"
"npm:vscode-json-languageserver"                      = "latest"
"aqua:LuaLS/lua-language-server"                      = "latest"
"cargo:https://github.com/feel-ix-343/markdown-oxide" = { version = "tag:{{ (gitHubLatestTag "feel-ix-343/markdown-oxide").Name }}", bin = "markdown-oxide" }

# Mise related stuff
usage                                                 = "latest"

# Python related stuff
# NOTE: I have to strip "patch" version because windows do not always have update python version
# mise ERROR failed to install core:python@3.11.13
# mise ERROR no precompiled python found for core:python@3.11.13 on x86_64-pc-windows-msvc-shared
python                                                = {{ regexReplaceAll "\\.[0-9]+$" .pythonVersion "" | quote }}
uv                                                    = "latest"

[settings]
# support `.python-version` file
idiomatic_version_file_enable_tools = ["node", "python"]

# "pipx:cowsay" will use uvx to install cowsay
pipx.uvx = true

# python venv auto activate
python.uv_venv_auto = false

experimental = true
