# Catppuccin Mocha Theme (for zsh-syntax-highlighting)
#
# Paste this files contents inside your ~/.zshrc before you activate zsh-syntax-highlighting
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main cursor)
typeset -gA ZSH_HIGHLIGHT_STYLES

# Main highlighter styling: https://github.com/zsh-users/zsh-syntax-highlighting/blob/master/docs/highlighters/main.md
#
## General
### Diffs
### Markup
## Classes
## Comments
ZSH_HIGHLIGHT_STYLES[comment]='fg={{ .colorScheme.surface2 }}'
## Constants
## Entitites
## Functions/methods
ZSH_HIGHLIGHT_STYLES[alias]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[suffix-alias]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[global-alias]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[function]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[command]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[precommand]='fg={{ .colorScheme.green }},italic'
ZSH_HIGHLIGHT_STYLES[autodirectory]='fg={{ .colorScheme.peach }},italic'
ZSH_HIGHLIGHT_STYLES[single-hyphen-option]='fg={{ .colorScheme.peach }}'
ZSH_HIGHLIGHT_STYLES[double-hyphen-option]='fg={{ .colorScheme.peach }}'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument]='fg={{ .colorScheme.mauve }}'
## Keywords
## Built ins
ZSH_HIGHLIGHT_STYLES[builtin]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[reserved-word]='fg={{ .colorScheme.green }}'
ZSH_HIGHLIGHT_STYLES[hashed-command]='fg={{ .colorScheme.green }}'
## Punctuation
ZSH_HIGHLIGHT_STYLES[commandseparator]='fg={{ .colorScheme.red }}'
ZSH_HIGHLIGHT_STYLES[command-substitution-delimiter]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[command-substitution-delimiter-unquoted]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[process-substitution-delimiter]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument-delimiter]='fg={{ .colorScheme.red }}'
ZSH_HIGHLIGHT_STYLES[back-double-quoted-argument]='fg={{ .colorScheme.red }}'
ZSH_HIGHLIGHT_STYLES[back-dollar-quoted-argument]='fg={{ .colorScheme.red }}'
## Serializable / Configuration Languages
## Storage
## Strings
ZSH_HIGHLIGHT_STYLES[command-substitution-quoted]='fg={{ .colorScheme.yellow }}'
ZSH_HIGHLIGHT_STYLES[command-substitution-delimiter-quoted]='fg={{ .colorScheme.yellow }}'
ZSH_HIGHLIGHT_STYLES[single-quoted-argument]='fg={{ .colorScheme.yellow }}'
ZSH_HIGHLIGHT_STYLES[single-quoted-argument-unclosed]='fg={{ .colorScheme.maroon }}'
ZSH_HIGHLIGHT_STYLES[double-quoted-argument]='fg={{ .colorScheme.yellow }}'
ZSH_HIGHLIGHT_STYLES[double-quoted-argument-unclosed]='fg={{ .colorScheme.maroon }}'
ZSH_HIGHLIGHT_STYLES[rc-quote]='fg={{ .colorScheme.yellow }}'
## Variables
ZSH_HIGHLIGHT_STYLES[dollar-quoted-argument]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[dollar-quoted-argument-unclosed]='fg={{ .colorScheme.maroon }}'
ZSH_HIGHLIGHT_STYLES[dollar-double-quoted-argument]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[assign]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[named-fd]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[numeric-fd]='fg={{ .colorScheme.text }}'
## No category relevant in spec
ZSH_HIGHLIGHT_STYLES[unknown-token]='fg={{ .colorScheme.maroon }}'
ZSH_HIGHLIGHT_STYLES[path]='fg={{ .colorScheme.text }},underline'
ZSH_HIGHLIGHT_STYLES[path_pathseparator]='fg={{ .colorScheme.red }},underline'
ZSH_HIGHLIGHT_STYLES[path_prefix]='fg={{ .colorScheme.text }},underline'
ZSH_HIGHLIGHT_STYLES[path_prefix_pathseparator]='fg={{ .colorScheme.red }},underline'
ZSH_HIGHLIGHT_STYLES[globbing]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[history-expansion]='fg={{ .colorScheme.mauve }}'
#ZSH_HIGHLIGHT_STYLES[command-substitution]='fg=?'
#ZSH_HIGHLIGHT_STYLES[command-substitution-unquoted]='fg=?'
#ZSH_HIGHLIGHT_STYLES[process-substitution]='fg=?'
#ZSH_HIGHLIGHT_STYLES[arithmetic-expansion]='fg=?'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument-unclosed]='fg={{ .colorScheme.maroon }}'
ZSH_HIGHLIGHT_STYLES[redirection]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[arg0]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[default]='fg={{ .colorScheme.text }}'
ZSH_HIGHLIGHT_STYLES[cursor]='fg={{ .colorScheme.text }}'
