#!/usr/bin/env bash
set -euo pipefail

{{- if eq .emacs true }}
{{ if eq .doom true }}
# Once emacs is installed lets setup doom emacs if required
echo "setup doom-emacs"
PATH="$PATH:$HOME/.local/bin"
$HOME/.emacs.d/bin/doom install
{{- end }}
{{- end }}
