#!/usr/bin/env bash
# vim: set expandtab ts=4 sw=4 ft=sh:
set -euo pipefail

# shellcheck disable=all
# if ubuntu desktop based system
{{- if (and (.isDesktop) (.ubuntu) (.personalmachine)) }}

deb_installer ()
{
    # $1: URL
    # $2: temp file name
    echo "setup $2"

    url=$1
    tmp_file="/tmp/$2.deb"
    wget $url -O $tmp_file
    sudo apt install -y $tmp_file
}

appimg_installer ()
{
    # $1: URL
    # $2: filename
    echo "setup $2"
    url=$1
    tmp_file="/tmp/$2.AppImage"
    wget $url -O $tmp_file

    # if directory not exists lets create one
    [ -d "$HOME/Applications" ] || mkdir "$HOME/Applications"

    # make it executable
    chmod a+x $tmp_file
    mv $tmp_file "$HOME/Applications/"
}

########################################################################################################################
packages+=(
    fonts-symbola
    imagemagick
    smartmontools
    tshark
    wireshark
    xsensors
)

# install all the packages
sudo apt install -y ${packages[@]}

########################################################################################################################
echo "setup kitty terminal"
if [ ! $(command -v kitty) ]; then
    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n
    ln -s ~/.local/kitty.app/bin/kitty ~/.local/bin/
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/
    cp ~/.local/kitty.app/share/applications/kitty-open.desktop ~/.local/share/applications/
    sed -i "s|Icon=kitty|Icon=/home/$USER/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty*.desktop
    sed -i "s|Exec=kitty|Exec=/home/$USER/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop
fi

WEZTERM=https://github.com/wez/wezterm/releases/latest/download/wezterm-{{ .weztermVersion }}.Ubuntu22.04.deb
deb_installer $WEZTERM "wezterm"

# chrome re-installation is harmless in fact we end up updating it!
CHROME=https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
deb_installer $CHROME "chrome"

# vscode setup
VSCODE="https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64"
deb_installer $VSCODE "code"

# discord setup
DISCORD="https://discord.com/api/download?platform=linux&format=deb"
deb_installer $DISCORD "discord"

# f3d setup
F3D="https://github.com/f3d-app/f3d/releases/latest/download/f3d-{{ .f3dVersion }}-{{ .chezmoi.os }}.deb"
deb_installer $F3D "f3d"

########################################################################################################################
LOGSEQ="https://github.com/logseq/logseq/releases/download/{{ .logseqVersion }}/Logseq-{{ .chezmoi.os }}-x64-{{ .logseqVersion }}.AppImage"
appimg_installer $LOGSEQ logseq

BITWARDEN="https://vault.bitwarden.com/download/?app=desktop&platform=linux"
appimg_installer $BITWARDEN bitwarden

{{- end }}
