#!/bin/sh

LOCALBIN=$HOME/.local/bin
if ! [ -f "$LOCALBIN/age" ]; then
    echo "Setting up age!"
    URL="https://github.com/FiloSottile/age/releases/download/v{{ .ageVersion }}/age-v{{ .ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    wget "$URL" -O /tmp/age.tar.gz
    tar -xf /tmp/age.tar.gz -C /tmp
    mv /tmp/age/age "$LOCALBIN"
    mv /tmp/age/age-keygen "$LOCALBIN"
    chmod +x "$LOCALBIN/age"
    chmod +x "$LOCALBIN/age-keygen"
fi

if [ ! -f "$HOME/.key.txt" ]; then
    "$LOCALBIN/age" --decrypt --output "$HOME/.key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$HOME/.key.txt"
fi
