#!/usr/bin/env bash
set -euo pipefail

# if arch based system then perform some previleged setups
{{- if eq .archlinux true }}
cat <<EOF > /tmp/30-touchpad.conf
Section "InputClass"
        Identifier "touchpad"
        MatchIsTouchpad "on"
        MatchDevicePath "/dev/input/event*"
        Driver "libinput"
        Option "Tapping" "on"
        Option "NaturalScrolling" "true"
EndSection
EOF
sudo mv /tmp/30-touchpad.conf /etc/X11/xorg.conf.d/
{{- end }}
