#!/usr/bin/env bash
# vim: set expandtab ts=4 sw=4 ft=sh:
set -euo pipefail

# if ubuntu based system
{{- if eq .ubuntu true }}
# before setting up the dotfiles, lets make sure we setup all the
# dependency.

repositories=()
packages=(
    apt-transport-https
    aspell
    ca-certificates
    curl
    direnv
    editorconfig
    ethtool
    fontconfig
    gnupg-agent
    graphviz
    htop
    jq
    {{ if ne .wsl true }}
    linux-tools-common
    linux-tools-generic
    linux-tools-`uname -r`
    {{ end }}
    net-tools
    openssh-server
    ranger
    shellcheck
    software-properties-common
    sqlite3
    tar
    {{ if eq .chassisType "laptop" }}
    tlp
    {{ end }}
    tmux
    tree
    unzip
    wget
    wordnet
    zsh
)

# some c++ setup
packages+=(
    build-essential
    clang
    clangd-12
    cmake
    make
)

# unattended upgrades setup
# https://haydenjames.io/how-to-enable-unattended-upgrades-on-ubuntu-debian/
packages+=(
    unattended-upgrades
    apt-listchanges
)

# pyenv dependency
packages+=(
    make
    build-essential
    libssl-dev
    zlib1g-dev
    libbz2-dev
    libreadline-dev
    libsqlite3-dev
    llvm
    libncursesw5-dev
    xz-utils
    tk-dev
    libxml2-dev
    libxmlsec1-dev
    libffi-dev
    liblzma-dev
)

{{ if eq .emacs.build true }}
# emacs dpendency, went through the INSTALL file from emacs-27 branch
# from github. Also some reference:
# https://emacsredux.com/blog/2021/12/19/using-emacs-on-windows-11-with-wsl2/
packages+=(
    autoconf
    build-essential
    cmake
    g++-10
    gcc-10
    libcairo-5c-dev
    libgccjit-10-dev
    libgccjit0
    libgif-dev
    libgnutls28-dev
    libgtk-3-dev
    libharfbuzz-bin
    libharfbuzz-dev
    libjansson-dev
    libjansson4
    libjpeg-dev
    libncurses-dev
    libpng-dev
    librsvg2-dev
    libtiff5-dev
    libvterm-dev
    libxpm-dev
    mailutils
    sqlite3
    texinfo
)
{{ end -}}

# latest git version
repositories+=(
    ppa:git-core/ppa
)
packages+=(
    git
)

# neovim lang support
packages+=(
    libluajit-5.1-dev
)

{{ if eq .emacs.ppa true }}
# emacs installation taken care in its own script
repositories+=(
    ppa:kelleyk/emacs
)
{{ end -}}


############################
# Installation starts here #
############################
sudo apt update

echo "purge unwanted packages"
sudo apt purge -y vim vim-common vim-tiny fd-find
sudo apt autoremove -y

for repository in ${repositories[@]}; do
    sudo add-apt-repository -y $repository
done

# install all the packages
sudo apt install -y ${packages[@]}

# some variable setups here
echo "local bin directory setup"
LOCALBIN=$HOME/.local/bin
[ -d "$LOCALBIN" ] && echo "directory exists" || mkdir -p $LOCALBIN

# enable tlp for laptop
{{ if eq .chassisType "laptop" }}
sudo systemctl enable tlp.service
sudo systemctl start tlp.service
{{ end }}

echo "install bat(cat)"
BAT=https://github.com/sharkdp/bat/releases/download/v{{ .batVersion }}/bat-musl_{{ .batVersion }}_{{ .chezmoi.arch }}.deb
wget $BAT -O /tmp/bat.deb
sudo apt install /tmp/bat.deb

echo "install zenith"
ZENITH=https://github.com/bvaisvil/zenith/releases/download/{{ .zenithVersion }}/zenith_{{ .zenithVersion }}-1_{{ .chezmoi.arch }}.deb
wget $ZENITH -O /tmp/zenith.deb
sudo apt install /tmp/zenith.deb

# do not install ripgrep if already found
if [ ! $(command -v rg) ]; then
    echo "install ripgrep"
    RIPGREP=https://github.com/BurntSushi/ripgrep/releases/latest/download/ripgrep_{{ .ripgrepVersion }}_{{ .chezmoi.arch }}.deb
    wget $RIPGREP -O /tmp/ripgrep.deb
    sudo apt install /tmp/ripgrep.deb
fi

echo "setup fd"
FD=https://github.com/sharkdp/fd/releases/download/v{{ .fdVersion }}/fd_{{ .fdVersion }}_{{ .chezmoi.arch }}.deb
wget $FD -O /tmp/fd.deb
sudo apt install /tmp/fd.deb

echo "setup fzf"
FZF=https://github.com/junegunn/fzf/releases/download/{{ .fzfVersion }}/fzf-{{ .fzfVersion }}-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
wget $FZF -O /tmp/fzf.tar.gz
tar -xf /tmp/fzf.tar.gz -C $LOCALBIN/
chmod +x $LOCALBIN/fzf

echo "setup stylua"
STYLUA=https://github.com/JohnnyMorganz/StyLua/releases/download/v{{ .styluaVersion }}/stylua-{{ .chezmoi.os }}.zip
wget $STYLUA -O /tmp/stylua.zip
unzip -o /tmp/stylua.zip -d $LOCALBIN/
chmod +x $LOCALBIN/stylua

echo "setup gh for github"
GH=https://github.com/cli/cli/releases/download/v{{ .ghVersion }}/gh_{{ .ghVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.deb
wget $GH -O /tmp/gh.deb
sudo dpkg -i /tmp/gh.deb

echo "setup neovim from github release"
NEOVIM=https://github.com/neovim/neovim/releases/download/v{{ .neovimVersion }}/nvim-{{ .chezmoi.os }}64.deb
wget $NEOVIM -O /tmp/neovim.deb
sudo dpkg -i /tmp/neovim.deb

echo "install syncthing as service"
SYNCTHING="https://github.com/syncthing/syncthing/releases/download/v{{ .syncthingVersion }}/syncthing-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-v{{ .syncthingVersion }}.tar.gz"
wget $SYNCTHING -O /tmp/syncthing.tar.gz
# extrac the service
sudo tar -zxf /tmp/syncthing.tar.gz -C /usr/bin/ --strip-components=1 syncthing-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-v{{ .syncthingVersion }}/syncthing

# for wsl systems systemd might not be present
if [ -d "/etc/systemd" ]; then
    sudo tar -zxf /tmp/syncthing.tar.gz -C /etc/systemd/system/ --strip-components=4 --overwrite syncthing-{{ .chezmoi.os }}-{{ .chezmoi.arch }}-v{{ .syncthingVersion }}/etc/linux-systemd/system/syncthing@.service

    sudo systemctl enable syncthing@{{ .chezmoi.username }}.service
    sudo systemctl start syncthing@{{ .chezmoi.username }}.service
else
    echo "Syncthing service is not installed, systemd not found"
fi

echo "set ZSH to default"
if [ "$SHELL" != "/usr/bin/zsh" ]; then
    sudo chsh -s $(which zsh) $USER
fi

{{- end }}
