#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:

set -euo pipefail

# get build dependencies
sudo apt install -y libevent-dev bison flex

{{- $tmuxVersion := (gitHubLatestRelease "tmux/tmux").TagName }}
wget https://github.com/tmux/tmux/releases/download/{{ $tmuxVersion }}/tmux-{{ $tmuxVersion }}.tar.gz -O /tmp/tmux.tar.gz

mkdir /tmp/tmux
tar xvf /tmp/tmux.tar.gz --strip-components=1 -C /tmp/tmux
cd /tmp/tmux/
./configure
make
sudo make install
cd ~
rm -rf /tmp/tmux
