#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:

set -euo pipefail

# {{ if not .archlinux }}
# {{ template "scripts/download_helpers.sh" . }}

# get build dependencies
sudo apt install -y libevent-dev bison flex
rm -rf /tmp/tmux

TMUX_URL={{ gitHubLatestReleaseAssetURL "tmux/tmux" "tmux-*.tar.gz" | quote }}
extract_tar "$TMUX_URL" "/tmp/tmux" 1

cd /tmp/tmux/
./configure --with-TERM=screen
make
sudo make install
cd ~
rm -rf /tmp/tmux
# {{ end }}
