#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# {{ template "scripts/download_helpers.sh" . }}
# {{ template "scripts/service_helpers.sh" . }}

packages=(
    docker
    docker-buildx
    docker-compose
)

install_packages_from_arrays

docker_native_diff="/etc/modprobe.d/disable-overlay-redirect-dir.conf"
if [ ! -f "$docker_native_diff" ]; then
    echo "Creating $docker_native_diff to disable overlay redirect dir"
    echo "options overlay metacopy=off redirect_dir=off" | sudo tee "$docker_native_diff" > /dev/null
    sudo modprobe -r overlay
    sudo modprobe overlay
fi
docker_daemon="/etc/docker/daemon.json"
if [ ! -f "$docker_daemon" ]; then
    echo "Creating $docker_daemon for docker daemon configuration"
    [ ! -d ${docker_daemon%/*} ] && sudo mkdir -p "${docker_daemon%/*}"
    sudo tee "$docker_daemon" >/dev/null << EOF
{
  "runtimes": {
    "nvidia": {
      "path": "/usr/bin/nvidia-container-runtime",
      "runtimeArgs": []
    }
  }
}
EOF
fi

if [ "$(getent group docker)" ]; then
    echo "docker group exists."
else
    sudo groupadd docker
fi

sudo usermod -aG docker "$USER"

system_services=(
    docker.socket
)
enable_services_from_arrays
