#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# {{ template "scripts/download_helpers.sh" . }}

sudo pacman -Sy

packages=(
    # day to day tools
    atuin
    bat
    eza
    fd
    fzf
    ghostty
    git-delta
    gitleaks
    glow
    go
    jq
    just
    kitty
    lazygit
    neovim
    ripgrep
    starship
    tealdeer
    tldr
    yq
    zoxide

    # night light
    gammastep
    geoclue

    # multi-media
    playerctl
    mpv
    mpv-mpris
    yt-dlp

    # system tools
    bind # do not need to enable the bind.service keep using system-resolved
    impala
    usbutils
    wiremix
)

aur_pkgs=(
    fswatch
    lazysql
    lowfi
)

install_packages_from_arrays
