#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# {{ template "scripts/download_helpers.sh" . }}
# {{ template "scripts/service_helpers.sh" . }}

sudo pacman -Sy

packages=(
    # day to day tools
    atuin
    bat
    dua-cli
    eza
    fd
    feh
    fzf
    ghostty
    git-delta
    gitleaks
    glow
    go
    jq
    just
    kitty
    lazygit
    ripgrep
    satty
    starship
    swayosd
    tealdeer
    television
    tldr
    yq
    zoxide

    # night light
    geoclue
    hyprsunset

    # multi-media
    mpv
    mpv-mpris
    playerctl
    yt-dlp

    # system tools
    bind # do not need to enable the bind.service keep using system-resolved
    gpu-screen-recorder
    impala
    linux-headers
    tailscale
    udiskie
    usbutils
    wiremix
)

aur_pkgs=(
    fswatch
    lazysql
    localsend-bin
)

install_packages_from_arrays


system_services=(
    swayosd-libinput-backend.service
)
user_services=(
)

enable_services_from_arrays
