#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# {{ template "scripts/download_helpers.sh" . }}

packages=(
    adw-gtk-theme
)

aur_pkgs=(
    # appearance tools/themes
    bibata-cursor-theme-bin
    flat-remix
    flat-remix-gtk

    # browsers
    zen-browser-bin
)

for pkg in "${packages[@]}"; do
    install_package_pacman "$pkg"
done

for pkg in "${aur_pkgs[@]}"; do
    install_package_aur "$pkg"
done
