#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# if arch based system
# {{- if eq .archlinux true }}
# NOTE: modify pacman.conf file then start this script
if ! grep -q "ILoveCandy" /etc/pacman.conf; then
    echo "Modify the pacman.conf file first"
    echo "Color,VerbosePkgLists,ParallelDownloads=5,ILoveCandy"
    exit 1
fi

sudo pacman -Sy
sudo pacman -S --noconfirm --needed base-devel archlinux-keyring findutils git

if command -v yay 2>/dev/null; then
    echo "Yay is already installed. Skipping..."
else
    echo "Installing Yay..."
    git clone https://aur.archlinux.org/yay.git /tmp/yay
    cd /tmp/yay
    makepkg -si --noconfirm 2>&1 || { printf "Failed to install"; exit 1; }
fi

# {{ template "scripts/download_helpers.sh" . }}
# {{ template "scripts/service_helpers.sh" . }}

packages=(
    # Graphics
    # NOTE: must have for hyprland else will not boot
    nvidia-utils
    egl-wayland

    # Hyperland and Wayland
    cliphist
    grim
    hyprland
    hyprpolkitagent
    hypridle
    hyprlock
    hyprpaper
    imagemagick
    kvantum
    slurp
    swappy
    swaync
    rofi
    waybar
    qt5-wayland
    qt6-wayland
    xdg-desktop-portal-hyprland
    
    # Audio
    pipewire
    wireplumber
    pipewire-audio
    pipewire-alsa
    pipewire-pulse
    sof-firmware
    pavucontrol

    # Basics
    chezmoi
    htop
    btop
    ghostty
    unzip
    gtk-engine-murrine
    xdg-user-dirs
    xdg-utils
    pacman-contrib
    wl-clipboard
    zsh
    zsh-completions
    openssh
    tmux
    inotify-tools

    # Networking and Bluetooth
    bluez
    bluez-utils
    blueman
    networkmanager
    network-manager-applet

    # File Manager
    ffmpegthumbnailer 
    thunar 
    thunar-archive-plugin
    thunar-volman 
    tumbler
    xarchiver
)
aur_pkgs=(
    # Hyperland and Wayland
    wlogout
)
install_packages_from_arrays


system_services=(
    sshd
    NetworkManager.service
    bluetooth.service
)
user_services=(
    hypridle.service
    hyprpolkitagent.service
    pipewire-pulse.socket
    pipewire.service
    pipewire.socket
    wireplumber.service
)

enable_services_from_arrays

# Check if the 'input' group exists
if grep -q '^input:' /etc/group; then
    echo "input group exists."
else
    echo "input group doesn't exist. Creating input group..."
    sudo groupadd input
fi

# Add the user to the 'input' group
sudo usermod -aG input "$(whoami)"

echo "Make Thunar default file manager"
xdg-mime default thunar.desktop inode/directory
xdg-mime default thunar.desktop application/x-wayland-gnome-saved-search

# some variable
echo "local bin directory setup"
LOCALBIN=$HOME/.local/bin
[ -d "$LOCALBIN" ] || mkdir -p "$LOCALBIN"

echo "set ZSH to default"
zsh=$(which zsh)
if [ "$SHELL" != "$zsh" ]; then
    sudo chsh -s "$zsh" "$(whoami)"
fi

sudo sysctl fs.inotify.max_user_watches=100000
sudo sysctl fs.inotify.max_queued_events=100000

# {{- end }}
