#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:
set -euo pipefail

# {{ template "scripts/download_helpers.sh" . }}

packages=(
    adw-gtk-theme
    nwg-look
    syncthing
)

aur_pkgs=(
    # appearance tools/themes
    bibata-cursor-theme-bin
    flat-remix
    flat-remix-gtk

    # browsers
    zen-browser-bin
)

for pkg in "${packages[@]}"; do
    install_package_pacman "$pkg"
done

for pkg in "${aur_pkgs[@]}"; do
    install_package_aur "$pkg"
done


user_services=(
    syncthing.service
)

echo "Enable some user services.."
for uservice in "${user_services[@]}"; do
    if ! systemctl --user is-active --quite "$uservice" >/dev/null 2>&1; then
        echo "Enabling user service: $uservice"
        systemctl --user enable --now "$uservice"
    fi
done
