#!/usr/bin/env bash
# vim: set expandtab ft=bash ts=4 tw=4:

# if arch based system
# {{- if eq .archlinux true }}

echo "Removing direnv package..."
[ "$(command -v direnv)" ] && sudo pacman -Rns --noconfirm direnv || echo "done"

ehco "Removing neovim package..."
sudo pacman -Rns --noconfirm neovim

# {{- end }}
